@icon-prev: '\e608';
@icon-next: '\e617';

& when (@media-common = true) {
    .page-wrapper,
    .rtl:not(body){
        direction: rtl;
    }

    .slick-slider{
        direction: ltr;
    }

}

// desktop
.media-width(@extremum, @break) when (@extremum = 'min') and (@break = @screen__m) {

}

// mobile
.media-width(@extremum, @break) when (@extremum = 'max') and (@break = @screen__m) {

}
