// Global
//  _____________________________________________
& when (@media-common = true) {
        a,
        a.link {
            color: @color-red;

            &:hover,
            &:visited,
            &:focus {
                color: @color-red;
            }
        }

        // All buttons
        button,
        .action.primary,
        .action.primary.tocart,
        .action.primary.contact,
        .action.primary.continue,
        .action.primary.checkout,
        .button.action.continue.primary,
        .action.primary.create,
        input.action.primary,
        a.action.checkout,
        a.action.primary,
        a.pagebuilder-button-primary,
        a.pagebuilder-button-secondary,
        button.pagebuilder-button-primary,
        button.pagebuilder-button-secondary,
        button.action {
            border: none;
            box-shadow: none;
            line-height: 1;
            max-width: 100%;
            padding: 1.25rem 3rem;
            border-radius: 3rem;
            text-transform: uppercase;
            text-align: center;
            letter-spacing: 0.1rem;
            font-size: 1.2rem;
            font-family: @font-family-medium;
            transition: all 0.33s ease;
            color: @color-white;
            background: @color-black;
            &:hover {
                background: @color-black;
                border: none;
            }
        }

        // Primary Pagebuilder Buttons
        a.pagebuilder-button-primary,
        button.pagebuilder-button-primary {
            color: @color-white;
            background: @color-coke-red-lighter;
            margin: 0;
            &:hover {
                color: @color-white;
                background: lighten(@color-coke-red, 5%);
                border: none;
            }
            &:focus {
                color: @color-white;
                background: @color-coke-red-lighter;
                border: none;
            }
        }
        // Secondary Pagebuilder Buttons
        a.pagebuilder-button-secondary,
        button.pagebuilder-button-secondary {
            color: @color-white;
            background: @color-black;
            margin: 0;
            &:hover {
                color: @color-white;
                background-color: lighten(@color-black, 5%);
                border: none;
            }
            &:focus {
                color: @color-white;
                background: @color-black;
                border: none;
            }
        }

        // Pagebuilder Arrow Buttons
        .arrow-button {
            button.action.primary.tocart,
            a.pagebuilder-button-primary,
            button.pagebuilder-button-primary,
            a.pagebuilder-button-secondary,
            button.pagebuilder-button-secondary {
                &:after {
                    display: inline-block;
                    content: '\e624';
                    font-family: 'icons-blank-theme';
                    margin-left: 1rem;
                    color: inherit;
                    font-size: inherit;
                    font-weight: inherit;
                    line-height: inherit;
                    vertical-align: middle;
                    overflow: hidden;
                    text-align: center;
                    transition: all 0.33s ease;
                }
                &:hover {
                    &:after {
                        transform: translateX(0.5rem);
                    }
                }
            }
        }
}
//  Desktop
//  _____________________________________________
@media only screen and (min-width: @screen__m) {
}
//  Mobile
//  _____________________________________________
@media only screen and (max-width: @screen__m) {
}
