// Global
//  _____________________________________________
& when (@media-common = true) {
    // All buttons
    .action.primary.contact,
    .action.primary.continue,
    .action.primary.create,
    input.action.primary,
    a.action.checkout,
    button.action {
        font-family: "Gotham Medium", "Helvetica Neue", Verdana, Arial, sans-serif !important;
        box-shadow: none !important;
        line-height: 1.2 !important;
        text-transform: uppercase;
        border-color: transparent;
        letter-spacing: 2px;
        text-align: center;

        &.more.button,
        &.primary.add,
        &.primary.save,
        &.primary.login,
        &.primary.tocart,
        &.primary.submit,
        &.primary.create,
        &.primary.checkout,
        &.primary.action-save-address,
        &.primary.continue {

        }
    }

    .action.primary {
        background: @color-black;
        border-color: @color-black;
        text-transform: uppercase;
        text-align: center;
        font-family: "Gotham", "Helvetica Neue", Verdana, Arial, sans-serif;

        &:hover {
            border-color: lighten(@color-black, 10%);
            background: lighten(@color-black, 10%);
        }

        &.primary-arrow {
            .lib-icon-font(
                @icon-arrow-right-thin,
                @_icon-font-position: after,
                @_icon-font-size: inherit,
                @_icon-font-display: inline-block,
                @_icon-font-color: @color-white,
                @_icon-font-line-height: inherit
            );

            &:after {
                margin-left: 15px;
                font-weight: 300;
                line-height: 1;
                transition: transform 0.3s linear;
            }

            &:hover {
                &:after {
                    transform: translateX(4px);
                }
            }
        }
    }

    // Grey buttons
    .review-form-actions .primary,
    button.action.update,
    button.action.action-apply,
    .checkout-cart-index .cart-container .actions-toolbar button.action.primary.apply {
        border-color: rgb(242, 242, 242);
    }
}

//  Mobile
//  _____________________________________________
.media-width(@extremum, @break) when (@extremum = 'max') and (@break = @screen__m) {
    .action.primary.contact,
    .action.primary.continue,
    .action.primary.create,
    input.action.primary,
    a.action.checkout,
    button.action {
        padding: 7px 24px !important;
        border-radius: 16px !important;
        font-size: 12px !important;
    }

    .action.primary.contact {
        width: 100%;
    }

    .action.primary.tocart {
        width: 100%;
        padding: 7px 8px !important;
        white-space: normal;
        text-align: center;
    }

    //grey buttons
    button.action.update,
    button.action.action-apply,
    .checkout-cart-index .cart-container .actions-toolbar button.action.primary.apply {

    }
}

//  Desktop
//  _____________________________________________
.media-width(@extremum, @break) when (@extremum = 'min') and (@break = @screen__m) {
    .action.primary.continue,
    a.action.primary.create,
    a.action.checkout,
    button.action {
        &.more.button,
        &.primary.add,
        &.primary.save,
        &.primary.login,
        &.primary.submit,
        &.primary.create,
        &.primary.contact,
        &.primary.continue,
        &.primary.action-save-address,
        &.primary.checkout {
            font-size: 14px !important;
            border-radius: 21px !important;
            padding: 10px 24px !important;
            transition: all 0.2s;
            &:hover {
                border-color: lighten(@color-black, 10%);
                background: lighten(@color-black, 10%);
            }
        }

        &.primary.tocart {
            width: 100%;
            font-size: 12px !important;
            border-radius: 21px !important;
            padding: 10px 8px !important;
            transition: all 0.2s;
            white-space: normal;
            text-align: center;
            &:hover {
                border-color: lighten(@color-black, 10%);
                background: lighten(@color-black, 10%);
            }
        }
    }

    input.action.primary {
        font-size: 14px !important;
        border-radius: 21px !important;
        padding: 10px 24px !important;
    }

    // Grey buttons
    .review-form-actions .primary,
    .actions-toolbar .action.action-apply,
    .action.action-show-popup,
    button.action.update {
        border-radius: 16px;
    }
}
