<!--
/**
 * Copyright © Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */
-->
<div class="block-title">
    <strong>
        <span class="text" translate="'My Cart'"/>
        <span
            class="qty empty"
            text="getCartParam('summary_count')"
            data-bind="css: { empty: !!getCartParam('summary_count') == false },
                       attr: { title: $t('Items in Cart') }">
        </span>
    </strong>
</div>

<div class="block-content">

    <if args="getCartParam('summary_count')">
        <div data-action="scroll" class="minicart-items-wrapper">
            <ol id="mini-cart" class="minicart-items" data-bind="foreach: { data: getCartItems(), as: 'item' }">
                <each args="$parent.getRegion($parent.getItemRenderer(item.product_type))"
                      render="{name: getTemplate(), data: item, afterRender: function() {$parents[1].initSidebar()}}"
                />
            </ol>
        </div>
    </if>

    <ifnot args="getCartParam('summary_count')">
        <strong class="subtitle empty"
                data-bind="visible: closeSidebar()"
                translate="'You have no items in your shopping cart.'"
        />
        <if args="getCartParam('cart_empty_message')">
            <p class="minicart empty text" text="getCartParam('cart_empty_message')"/>
        </if>
    </ifnot>

    <if args="getCartParam('summary_count')">
        <div class="button-actions" if="getCartParam('possible_onepage_checkout')">
            <div class="primary">
                <a data-bind="attr: {href: shoppingCartUrl}">
                    <button
                            type="button"
                            class="action secondary checkout"
                            data-action="close"
                            data-bind="
                                attr: {
                                    title: $t('View and Edit Cart')
                                }
                            "
                            translate="'View and Edit Cart'"
                    />
                </a>
                <div data-bind="html: getCartParam('extra_actions')"></div>
            </div>
        </div>
    </if>

    <div id="minicart-widgets" class="minicart-widgets" if="getRegion('promotion').length">
        <each args="getRegion('promotion')" render=""/>
    </div>
</div>
<each args="getRegion('sign-in-popup')" render=""/>
