<?xml version="1.0" ?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <section id="coke_checkoutvalidations" showInDefault="1" showInStore="1" showInWebsite="1" sortOrder="999"
                 translate="label">
            <label>Checkout Validations</label>
            <tab>Coke</tab>
            <resource>Magento_Backend::content</resource>
            <group id="general" showInDefault="1" showInStore="1" showInWebsite="1" sortOrder="10" translate="label">
                <label>General</label>
                <field id="enable_checkout_zip_postal_validations" showInDefault="1" showInStore="1" showInWebsite="1"
                       sortOrder="10"
                       translate="label" type="select">
                    <label>Enable Checkout Zip/Postal Code and Phone Validations</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
            </group>
        </section>
    </system>
</config>