<?xml version="1.0"?>
<!--
/**
 * @category FortyFour
 * @copyright Copyright (c) 2020 FortyFour LLC
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Module/etc/module.xsd">
    <module name="Coke_EmailAttachment" setup_version="1.0.0">
        <sequence>
            <module name="Magento_Sales" />
        </sequence>
    </module>
</config>
