& when (@media-common = true) {
    .section-title{
        font-weight: 500;
        color: @color-black;
        margin: 0 0 30px;
    }

    .pagebuilder-slider:not(.slick-initialized){
        display: none;
    }

    .cms-index-index {
        .desktop-slider {
            display: none;
        }
        .slick-slider{
            .slick-arrow{
                &.slick-next,
                &.slick-prev{
                    &:before{
                        color: #ffffff;
                    }
                }
            }
        }
    }

    .brands{
        .section-title{
            text-transform: uppercase;
            margin-bottom: 50px;
        }
        .elements{
            margin-bottom: 50px;
        }
        .brand{
            text-align: center;
        }
    }

    .top-sellers{
        background: #dfdfdf url('@{baseDir}images/top-sellers-background.jpg') center center ~'/ cover';
        .section-title{
            text-align: center;
            color: @color-black;
            margin: 0 0 30px;
            text-transform: uppercase;
            font-weight: 700;
        }

        .product-item{
            .product-item-info{
                padding: 20px;
                background-color: @color-white;
                border-radius: 20px;
                text-align: center;

                border:none;
                box-shadow: none;
                margin: 0;

                .product-item-name{
                    font-size: 18px;
                    font-weight: 700;
                    min-height: 65px;

                    .product-item-link {
                        overflow: hidden;
                        text-overflow: ellipsis;
                        display: -webkit-box;
                        -webkit-line-clamp: 3;
                        -webkit-box-orient: vertical;

                        &:hover {
                            -webkit-line-clamp: initial;
                            text-overflow: unset;
                        }
                    }
                }

                .product-item-inner,
                .price-box{
                    display: none !important;
                }
            }
        }
    }

}

// desktop
.media-width(@extremum, @break) when (@extremum = 'min') and (@break = @screen__m) {
    .cms-index-index{
        section{
            margin-top: 100px;
        }
        .desktop-slider {
            display: block;
        }
        .mobile-slider {
            display: none;
        }
    }

    .section-title{
        font-size: 22px;
    }

    .top-sellers{
        margin-top: 100px !important;
        padding: 30px !important;
        .section-title{
            font-size: 36px;
        }
    }

}

// mobile
.media-width(@extremum, @break) when (@extremum = 'max') and (@break = @screen__m) {
    .cms-index-index{
        section{
            margin-top: 50px;
        }

        .kicker {
            img {
                height: auto;
                width: 100%;
            }

            iframe {
                margin-top: 10px;
                min-height: 51vw;
            }
        }
    }

    .slick-slide{
        img{
            height: auto;
        }
    }

    .section-title{
        font-size: 22px;
    }

    .brands{
        .brand{
            &:not(:last-child){
                margin-bottom: 30px;
            }
        }
    }

    .top-sellers{
        padding: 20px 10px !important;
        margin-top: 50px !important;
        .section-title{
            font-size: 24px;
        }

        .product-item{
            margin-bottom: 10px;
        }
    }
}
