<?xml version="1.0" ?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <sales_email>
            <welcome_email>
                <enabled>0</enabled>
                <cron_schedule>* * * * *</cron_schedule>
                <identity>general</identity>
                <template>sales_email_welcome_email_template</template>
            </welcome_email>
            <completed_order_questionnaire>
                <enabled>0</enabled>
                <cron_schedule>* * * * *</cron_schedule>
                <identity>general</identity>
                <questionnaire_send_after_days>5</questionnaire_send_after_days>
                <template>sales_email_completed_order_questionnaire_template</template>
            </completed_order_questionnaire>
            <questionnaire_reminder>
                <enabled>0</enabled>
                <cron_schedule>* * * * *</cron_schedule>
                <identity>general</identity>
                <template>sales_email_questionnaire_reminder_template</template>
            </questionnaire_reminder>
        </sales_email>
    </default>
</config>
