<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <preference for="Coke\Contact\Plugin\Model\MailPlugin" type="Coke\Whitelist\Plugin\CokeContactMailPluginOverride" />
    <type name="Magento\Checkout\Block\Cart\Item\Renderer">
        <plugin name="Coke_Whitelist::cartItemRendererPlugin"
                type="Coke\Whitelist\Plugin\CartItemRendererPlugin"/>
    </type>
    <type name="Magento\Checkout\Model\CompositeConfigProvider">
        <arguments>
            <argument name="configProviders" xsi:type="array">
                <item name="Coke_Whitelist::checkoutConfigProvider"
                      xsi:type="object">Coke\Whitelist\Model\Checkout\ConfigProvider</item>
            </argument>
        </arguments>
    </type>
    <type name="Coke\Whitelist\Model\Checkout\ConfigProvider">
        <arguments>
            <argument name="checkoutSession" xsi:type="object">Magento\Checkout\Model\Session\Proxy</argument>
        </arguments>
    </type>
    <type name="Magento\Sales\Block\Order\Item\Renderer\DefaultRenderer">
        <plugin name="Coke_Whitelist::orderItemRendererDefaultRendererPlugin"
                type="Coke\Whitelist\Plugin\OrderItemRendererDefaultRendererPlugin"/>
    </type>
</config>
