& when (@media-common = true) {
    .page-wrapper {
        .cds-form {
            .input-container {
                margin-bottom: 20px;

                .optin {
                    p,
                    li {
                        font-size: 1.33rem !important;
                        line-height: 2rem !important;
                        margin: 10px 0 !important;
                    }

                    details {
                        margin-top: 20px;
                    }

                    li {
                        list-style: none !important;
                    }
                }
            }

            .req {
                color: @color-red;
            }

            label {
                font-weight: @font-weight__regular;
                margin-bottom: 5px;
            }
        }
    }

    .cds-form {
        .input-container {
            &.row {
                padding-bottom: 30px;
                padding-top: 25px;
                position: relative;

                &.ces-input-error {
                    margin-bottom: 40px;
                }

                .validation-error {
                    bottom: 0;
                    left: 0;
                    position: absolute;
                }

                label[for="birthdate"] {
                    left: 0;
                    position: absolute;
                    top: 0;
                }

                input {
                    float: left;
                    margin-right: 10px;
                    width: 75px;
                }

                .validation-error {
                    max-height: 0;
                    width: auto;
                }
            }
        }
    }
}

// mobile
//.media-width(@extremum, @break) when (@extremum = 'max') and (@break = @screen__m) {
//}

// desktop
//.media-width(@extremum, @break) when (@extremum = 'min') and (@break = @screen__m) {
//}
