@white: #ffffff;
@light: rgba(245, 246, 250, 0.25);
@light2: rgba(245, 246, 250, 1.0);
@black: #000000;
@red: #f40000;
@yellow: rgba(251, 197, 49, 0.2);
@gray: rgba(220, 221, 225,1.0);
@border: rgba(0,0,0,0.3);
@shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
@warning: rgba(244, 0, 0, 0.1);