.cds-form {
    label[for="birthdate"] {
        position: absolute;
        top: -2em;
        left:auto;
        right: 0;
    }

    .input-container {
        [type="checkbox"] {
            margin: 2px 0 0 5px;
        }
    }
}
