form {
    .field {
        &._required,
        &.required {
            > .label {
                &::after {
                    content: '*';
                    color: @color-red;
                    display: inline-block;
                }
            }
        }
    }
}
