<?xml version="1.0" ?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
	<default>
		<advanced>
			<modules_disable_output>
				<Magento_Downloadable>1</Magento_Downloadable>
				<Magento_GiftCardAccount>1</Magento_GiftCardAccount>
			</modules_disable_output>
		</advanced>
	</default>
</config>
