//General Buttons
& when (@media-common = true) {
    button,
    input[type="submit"],
    a,
    div{
        &.action.primary{
            .lib-button-black();
            .lib-css(border-radius, @button__border-radius);
            width: 100%;

            &.disabled,
            &[disabled] {
                background: #C4C4C4;
                border-color: #C4C4C4;
            }

            &.btn-white-outline{
                .lib-button-white();
            }
        }
    }

    button,
    input[type="submit"],
    a,
    div{
        &.action.secondary {
        }

        &.pagebuilder-button-primary,
        &.pagebuilder-button-secondary {
        }

        &.pagebuilder-button-primary{
            .lib-button-black-padded();
            .btn-white-outline &{
                .lib-button-white-transparent()
            }
        }

        &.pagebuilder-button-secondary{

        }

        &.pagebuilder-button-link {
        }
    }


    button{
        //.lib-button(
        //    @_button-padding: 10px 15px,
        //    @_button-font-weight: 700
        //);
    }
}

// Checkout flow buttons
button,
input[type="submit"],
a {
    &.action.primary {
        &.tocart,
        &.checkout,
        &[data-role="opc-continue"],
        &.login,
        &.create{
            padding: 12px 25px 13px;
        }

        .checkout-onepage-success &{
            &.continue{
                padding: 12px 25px 13px;
            }
        }
    }
}

//Mixins
.lib-button-secondary() {
    .lib-button(
        @_button-color: @button-secondary_color,
        @_button-background: @button-secondary_background,
        @_button-border: 1px solid @button-secondary_border_color,
        @_button-color-hover: @button-secondary_active_color,
        @_button-background-hover: @button-secondary_active_background,
        @_button-border-hover: 1px solid @button-secondary_active_border_color,
        @_button-color-active: @button-secondary_active_color,
        @_button-background-active: @button-secondary_active_background,
        @_button-border-active: 1px solid @button-secondary_active_border_color
    );
}

.lib-button-black() {
    .lib-button-primary(
        @_button-font-size: 16px,
        //@_button-padding: 12px 25px 13px,
        @_button-background: @color-black,
        @_button-border:1px solid @color-black,
        @_button-color: @color-white,
        @_button-font-weight: 600,
        @_button-background-hover: lighten(@color-black, 10%),
        @_button-background-active: lighten(@color-black, 10%),
        @_button-color-hover: @color-white,
        @_button-color-active: @color-white,
        @_button-border-hover: 1px solid lighten(@color-black, 10%),
        @_button-border-active: 1px solid lighten(@color-black, 10%),
        @_button-font-family:@font-family-name__TCCC-UnityHeadline
    );
    line-height: 1;
    text-decoration: none;
    text-align: center;
}

.lib-button-black-padded(){
    .lib-button-black();
    padding: 12px 25px 13px;
}

// White background - black border
.lib-button-white() {
    .lib-button-primary(
        @_button-font-size: 16px,
        @_button-padding: 12px 25px 13px,
        @_button-background: @color-white,
        @_button-border:3px solid @color-black,
        @_button-color: @color-black,
        @_button-font-weight: 600,
        @_button-background-hover: darken(@color-white, 2%),
        @_button-background-active: darken(@color-white, 2%),
        @_button-color-hover: lighten(@color-black, 20%),
        @_button-color-active: lighten(@color-black, 20%),
        @_button-border-hover: 3px solid lighten(@color-black, 20%),
        @_button-border-active: 3px solid lighten(@color-black, 20%),
        @_button-font-family:@font-family-name__TCCC-UnityHeadline
    );
}

// white background - white border
.lib-button-white-filled() {
    .lib-button-primary(
        @_button-font-size: 16px,
        @_button-padding: 12px 25px 13px,
        @_button-background: @color-white,
        @_button-border:1px solid @color-white,
        @_button-color: @color-black,
        @_button-font-weight: 600,
        @_button-background-hover: darken(@color-white, 10%),
        @_button-background-active: darken(@color-white, 10%),
        @_button-color-hover: @color-black,
        @_button-color-active: @color-black,
        @_button-border-hover: 1px solid darken(@color-white, 10%),
        @_button-border-active: 1px solid darken(@color-white, 10%),
        @_button-font-family:@font-family-name__TCCC-UnityHeadline
    );
}

.lib-button-white-transparent() {
    .lib-button-primary(
        @_button-font-size: 16px,
        @_button-padding: 12px 25px 13px,
        @_button-background: transparent,
        @_button-border:2px solid @color-white,
        @_button-color: @color-white,
        @_button-font-weight: 600,
        @_button-background-hover: transparent,
        @_button-background-active: transparent,
        @_button-color-hover: @color-white,
        @_button-color-active: @color-white,
        @_button-border-hover: 2px solid darken(@color-white, 10%),
        @_button-border-active: 2px solid darken(@color-white, 10%),
        @_button-font-family:@font-family-name__TCCC-UnityHeadline
    );
}

.lib-button-text-link() {
    .lib-button-as-link(
        @_link-color: @color-black,
        @_link-color-hover: @color-black
    );
    text-decoration: none;
}
