.lib-font-face-ext(
    @family-name,
    @font-path,
    @font-ext,
    @font-format: false,
    @font-weight: normal,
    @font-style: normal,
    @font-display: auto
) when not (@font-format = false) {
    @font-face {
        font-family: @family-name;
        src: url('@{font-path}.@{font-ext}') format(@font-format);
        font-weight: @font-weight;
        font-style: @font-style;
        font-display: @font-display;
    }
}


/**
 * Gotham
 */

.lib-font-face-ext(
    @family-name: 'Gotham',
    @font-path: '@{baseDir}fonts/gotham/Gotham-Bold',
    @font-ext: 'otf',
    @font-format: 'opentype',
    @font-weight: 700,
    @font-display: swap
);

.lib-font-face-ext(
    @family-name: 'Gotham',
    @font-path: '@{baseDir}fonts/gotham/Gotham-Medium',
    @font-ext: 'otf',
    @font-format: 'opentype',
    @font-weight: 500,
    @font-display: swap
);

.lib-font-face-ext(
    @family-name: 'Gotham',
    @font-path: '@{baseDir}fonts/gotham/Gotham-Book',
    @font-ext: 'otf',
    @font-format: 'opentype',
    @font-weight: 300,
    @font-display: swap
);