& when (@media-common = true) {
    .page-footer,
    .copyright{
        background: @coke-green-dark;
        font-weight: 700;
        color: @color-white;
    }

    .page-footer {
        a,
        a:visited{
            color: @color-white;
        }

        .footer.content{
            display: flex;
            flex-wrap: wrap;
            align-items: center;

            .footer-logo,
            .footer.links,
            .operated-by{
                flex: 0 1 100%;
            }

            .operated-by{
                order: 2;
                text-align: center;
                padding: 25px 0 0;

                p{
                    margin-bottom: 0;
                    font-size: 16px;
                }
            }

            .drink-responsibly{
                padding-top: 10px;
            }

            .links {
                li{
                    background: none;
                    border: none;
                    font-size: 16px;
                }
                a{
                    color: @color-white;
                }
            }
        }
    }

    .copyright{
        font-size: 14px;
    }
}

// desktop
.media-width(@extremum, @break) when (@extremum = 'min') and (@break = @screen__m) {
    .page-footer {
        background: @coke-green-dark;
        padding-top: 20px;
        .footer.content{
            //flex-wrap: nowrap;

            .footer-logo,
            .footer.links{
                flex-basis: auto;
            }

            .operated-by{
                flex-basis: 100%;
            }

            .footer-logo{
                padding-right: 30px;
            }

            .footer.links {
                column-count: 2;
                margin-left: auto;
                max-width: 350px;
                width: 100%;
                padding-right: 0;
                > li{
                    //flex:1 1 49%;
                }
            }
        }
    }
}

// mobile
.media-width(@extremum, @break) when (@extremum = 'max') and (@break = @screen__m) {
    .page-footer {
        .footer.content{
            .footer-logo{
                text-align: center;
            }
            .footer.links {
                padding: 20px 0;
            }
        }
    }
}
