@icons__font-path: "@{baseDir}fonts/topochico/topochico";
@icons__font-name: 'Topochico Icons';
@icon-font: @icons__font-name;


@icon-update: '\e603';
@icon-trash: '\e604';
@icon-star: '\e913';
@icon-star-filled: '\e912';
@icon-settings: '\e606';
@icon-pointer-down: '\e607';
@icon-location: '\e60a';
@icon-list: '\e60b';
@icon-info: '\e60c';
@icon-grid: '\e60d';
@icon-comment-reflected: '\e60e';
@icon-collapse: '\e60f';
@icon-calendar: '\e612';
@icon-arrow-up: '\e613';
@icon-arrow-down: '\e614';
@icon-pointer-up: '\e618';
@icon-pointer-right: '\e619';
@icon-pointer-left: '\e61a';
@icon-flag: '\e61b';
@icon-expand: '\e61c';
@icon-envelope: '\e61d';
@icon-compare-full: '\e61e';
@icon-compare-empty: '\e61f';
@icon-comment: '\e620';
@icon-help: '\e623';
@icon-arrow-right-thin: '\e624';
@icon-arrow-left-thin: '\e625';
@icon-arrow-down-thin: '\e626';
@icon-account: '\e627';
@icon-gift-registry: '\e628';
@icon-present: '\e629';
@icon-arrow-up-thin: '\e633';
@icon-up: '\e621';
@icon-down: '\e622';
@icon-checkmark: '\e610';
@icon-blank-remove: '\e616';
@icon-warning: '\e616';
@icon-prev: '\e617';
@icon-next: '\e608';

//Custom
@icon-account: '\e900';
@icon-cart: '\e903';

