& when (@media-common = true) {
    .navigation {
        .level0 .submenu .active > a,
        .level0.has-active > a:not(.ui-state-active),
        .level0.has-active > .level-top {
            color: @coke-green-dark;
        }
    }

    .navigation {
        > ul {
            .level0{
                font-size: 18px;
            }
        }
        .level0 {
            > .level-top {
                text-transform: uppercase;
                font-weight: 700;
                color: @coke-green-dark;
                &:hover{
                    color: @coke-green-dark;
                }
            }
        }
    }
}

// desktop
.media-width(@extremum, @break) when (@extremum = 'min') and (@break = @screen__m) {
    .sections.nav-sections{
        background: none;
        max-width: 75%;
        margin-bottom: 0;
        float: left;
        margin-left: 10%;
    }
    .navigation {
        background: none;
        ul{
          > div{
              display: inline-block;
          }
        }
        .level0 {
            margin-right: 70px;
            &.parent {
                > .level-top {
                    padding-right: 26px;
                    > .ui-menu-icon {

                    }
                }
            }
            > .level-top {
                color: @coke-green-dark;
            }
        }
    }
}

// mobile
.media-width(@extremum, @break) when (@extremum = 'max') and (@break = @screen__m) {
    .nav-toggle:before{
        color: @coke-green-dark;
    }

    .nav-sections-item-title {
        a {
        }
    }
}
