& when (@media-common = true) {
    .text-center{
        text-align: center;
    }

    .text-left {
        text-align: left;
    }

    .text-right {
        text-align: right;
    }
}

// desktop
.media-width(@extremum, @break) when (@extremum = 'min') and (@break = @screen__m) {
    .mobile-only{
        display: none;
    }

    .section-spacing{
        padding-top: 120px;
        padding-bottom: 120px;
    }

    .margin-spacer{
        margin-bottom: 160px;
    }
}

// mobile
.media-width(@extremum, @break) when (@extremum = 'max') and (@break = @screen__m) {
    .desktop-only{
        display: none;
    }

    .section-spacing{
        padding-top: 80px;
        padding-bottom: 80px;
    }

    .margin-spacer{
        margin-bottom: 80px;
    }
}
