@coke-red-orig: #f40000;
@coke-dark: #363636;

@coke-gray: #979797;
@color-red: #ff0000;
@color-red-dark: #e70000;
@color-gray-light: #f5f5f5;
@color-gray-dark: #5d5d5d;
@color-black: #000000;
@color-white: #ffffff;
@coke-green: #00AB8E;
@color-old-price: #8a8a8a;
@color-blue: #046299;

//Topo Colors
@coke-green-dark: #034638;
@coke-yellow: #FFD100;
@coke-yellow-light: #F2F0A1;
@coke-orange: #FF8200;
@coke-pink: #EF4A81;
@coke-red: #E40046;
@coke-purple: #A20067;
@coke-green-1: #00AB8E;
@coke-green-2: #A4D65E;
@coke-green-3: #A2E4B8;

@font-family-name__base: 'ropa-soft-pro';
@font-family-name__bernier: 'Bernier Reg', 'ropa-soft-pro', 'TCCC-UnityText', 'Helvetica Neue', Helvetica, Arial, sans-serif;
@font-family-name__tccc-unity: 'TCCC-UnityText', 'Helvetica Neue', Helvetica, Arial, sans-serif;

@font-size__base: 16px;
@indent__base: 20px;

@page__background-color: #fff;

@theme__color__primary:@coke-green-dark;
@theme__color__primary-alt: @coke-dark;
@theme__color__secondary: @coke-yellow;

@link__color: @coke-green-dark;
@link__hover__color: @coke-red;
@_link-text-decoration-hover: underline;

@form-element-input__height:40px;

//Buttons
@button-primary__border-radius: 50px;
@button__font-weight: 700;
@button-primary__active__background: @color-white;
@button-primary__active__color: @coke-green-dark;
@button-primary__active__border: @button-primary__border;
@button-primary__hover__background: @color-white;
@button-primary__hover__color: @coke-green-dark;
@button-primary__hover__border: @button-primary__border;

//Secondary Button
@button-secondary_color: @coke-green-dark;
@button-secondary_background: @coke-yellow;
@button-secondary_active_color: @coke-yellow;
@button-secondary_active_background: @color-white;
@button-secondary_border_color: @coke-yellow;
@button-secondary_active_border_color: @coke-yellow;

@row-spacing-desktop: 50px;
@row-spacing-mobile: 25px;

// Grid
@grid-column-count: 12;
@grid-gutter: 10px;

