//
//  FAQ List styles
//  _____________________________________________

.icon-pagebuilder-faq {
    content: url("@{baseDir}Coke_PageBuilderFaqs/css/images/content-type/faq-list/appearance/icon-pagebuilder-faq.svg");
    width: 18px;
    height: 18px;
    margin-bottom: -1px;
}
