//  Common
& when (@media-common = true) {
    .contact-modal {
        display: none;
        .modal-content {
            margin-bottom: 40px;
            p {
                font-size: 18px;
            }
        }
    }
}
