& when (@media-common = true) {
    .skip-next-payment-date-popup {
        .modal-inner-wrap {
            max-width: 600px;
            padding-bottom: 40px;
        }
    }

    .skip-next-payment-date-modal-content {
        .actions {
            align-items: flex-start;
            display: flex;
            justify-content: space-between;
        }
    }
}
