<div class="payment-additional-message" data-bind="afterRender: addOrderButton">
    <div>
        <p>⚫︎ 配送・引き渡し時期について</p>
        <p>発送方法：宅急便</p>
        <p>引き渡し時期：マイラベルなどの受注生産品はご注文日の翌日以降 7 ～ 14 営業日以内、 それ以外の商品はご注文日の翌日以降 2 ～ 4 営業日以内にご指定の送付先宛にご注文製品を出 荷いたします。</p>
        <p>※ 定期購入サービスの場合は、ご指定いただいた製品を、ご指定の間隔毎に発送いたします。</p>
        <p>※ 発送の間隔は 1 週間毎、 2 週間毎、 4 週間毎、 8 週間毎よりお選びいただけます。</p>
    </div>
    <div>
        <p>⚫︎ 申し込みのキャンセル・返品について</p>
        <p>・注文のキャンセルは、商品注文後 30 分以内であればマイページから可能です。 なお、商品注文後 30 分以降のお客様都合によるキャンセル等はお受けできません。</p>
        <p>・注文内容を変更されたい場合は、一度注文をキャンセルしていただき、 再度商品注文ページよりご注文していただく必要がございます。 また、ポイント利用したご注文をキャンセルした場合、使用したポイントは返却されません。</p>
        <p>・また定期便申し込み後のキャンセルは次回ご注文の前日まで解約ができます。締め日を過ぎると次回以降に適用となりますのでご注意ください。</p>
        <p>・万一商品が破損・汚損していた場合や注文と異なる商品が届いた場合は、 商品到着後 5 日以内に詳細をご連絡ください。 当社の不手際による場合は、返品交換の際に発生する送料は当社にて負担いたします。 ただし、完売商品や生産終了商品、セール商品や限定商品など、 交換できない場合は商品代金の返金とさせていただきます。</p>
        <p>・お客様のご都合による返品・交換は原則としてお受けしておりません。</p>
    </div>
    <div>
    <p>⚫︎ 定期購入のお客様へ</p>
        <p>例）い・ろ・は・す 2L×6 本 786 円 ( 税込 ) の商品を各周期で１年継続して頼んだ場合</p>
        <ul>
            <li>・毎週のお届け：年間支払総額： 41,658 円（税込）／年間数量： 53 ケース 318 本</li>
            <li>・2 週間毎のお届け：年間支払総額： 21,222 円（税込）／年間数量： 27 ケース 162 本</li>
            <li>・4 週間毎のお届け：年間支払総額： 11,004 円（税込）／年間数量： 14 ケース 84 本</li>
            <li>・8 週間毎のお届け：年間支払総額： 5,895 円（税込）／年間数量： 7 ケース 42 本</li>
        </ul>
        <p>※ キャンペーンなどでの割引は考慮しておりません</p>
        <p>※ 送料は別途必要に応じ計算されます</p>
    </div>
</div>
