//
//  Common
//  _____________________________________________
& when (@media-common = true) {
    .checkout-index-index {
        // This style comes from Addressy for some reason.
        div.validator {
            height: unset !important;
            width: unset !important;
        }

        .fieldset > .field {
            margin-bottom: 16px;
        }

        .fieldset > .field:not(.choice) > .label {
            float: none;
            width: auto;
            text-align: left;
            margin-bottom: 4px;
        }

        .fieldset > .field:not(.choice) > .control {
            float: none;
            width: auto;
        }

        .validator.validator-email input {
            width: ~"calc(100% - 39px) !important";
        }

        .checkout-shipping-method {
            .step-title, #checkout-shipping-method-load, #onepage-checkout-shipping-method-additional-load {
                display: none
            }
        }

        .opc-payment-additional {
            .order-comment-form {
                max-width: 100%;
            }
        }

        .form-shipping-address {
            .field {
                .message.warning {
                    display: none;
                }
            }
        }

        .opc-block-shipping-information {
            .ship-via {
                display: none;
            }
        }

        .feedback.feedback-phone {
            display: none;
        }

        // remove coupon code
        .payment-option.discount-code {
            display: none;
        }

        .checkout-payment-method {
            .payment-method-content {
                .fieldset {
                    > .field {
                        margin-bottom: 6px;

                        &.type {
                            margin-top: -2px;

                            .control {
                                margin-left: 0;

                                .credit-card-types {
                                    .item {
                                        img {
                                            width: 38px;
                                            height: 24px;
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }

        .payment-method-braintree {
            .hosted-error {
                margin-top: 0;
            }

            .hosted-control.braintree-hosted-fields-invalid {
                &:not(.braintree-hosted-fields-focused) {
                    ~ .hosted-error {
                        margin-top: 7px;
                    }
                }
            }
        }

        .checkout-agreement {
            border-top: 1px solid #dedede;
            padding: 12px 0;

            > button {
                text-decoration: none !important;
                text-align: left;
                font-size: 13px;

                span {
                    color: #333;
                    text-transform: none;
                    letter-spacing: normal;
                }
            }
        }
    }
}

.media-width(@extremum, @break) when (@extremum = 'min') and (@break = @screen__m) {
    .checkout-index-index {
        .opc-payment-additional {
            max-width: 600px;
        }
    }
}
