<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <checkout>
            <options>
                <guest_checkout>0</guest_checkout>
            </options>
        </checkout>
        <coke_europe>
            <general>
                <force_default_country_code_checkout>false</force_default_country_code_checkout>
            </general>
        </coke_europe>
    </default>
    <websites>
        <coke_eu>
            <checkout>
                <options>
                    <guest_checkout>0</guest_checkout>
                </options>
            </checkout>
            <coke_europe>
                <general>
                    <force_default_country_code_checkout>true</force_default_country_code_checkout>
                </general>
            </coke_europe>
        </coke_eu>
        <coke_uk>
            <checkout>
                <options>
                    <guest_checkout>0</guest_checkout>
                </options>
            </checkout>
            <coke_europe>
                <general>
                    <force_default_country_code_checkout>true</force_default_country_code_checkout>
                </general>
            </coke_europe>
        </coke_uk>
    </websites>
    <stores>
        <germany_german>
            <checkout>
                <options>
                    <guest_checkout>1</guest_checkout>
                </options>
            </checkout>
        </germany_german>
    </stores>
</config>
