//  Common
& when (@media-common = true) {
    .page-footer{
        background: @color-black;
        color: @color-white;
        a{
            color:@color-white;
        }

        .footer-row.flex{
            align-items: center;
        }

        .footer-social,
        .footer-cards {
            margin: 0 0 40px;
        }

        .footer-social{
            .flex{
                align-items: center;
            }
            .footer-logo{
                margin-right: 20px;
            }
            ul{
                display: inline-flex;
                flex-wrap: wrap;
                position: relative;

                &:before{
                    content: '';
                    border-left: 1px solid @color-white;
                    height: 10px;
                    position: absolute;
                    top: 50%;
                    transform: translate(0, -50%);
                }
                li{
                    padding: 10px;
                }
            }
        }

        .footer.content{
            border: none;
            margin-top: 15px;
            .footer-switcher{
                text-align: center;
                text-transform: uppercase;
                > div:last-child{
                    margin-bottom: 40px;
                }
                .switcher{
                    padding-right: 0;
                    margin-bottom: 0;
                    text-align: left;
                    display: inline-block;
                    &.switcher-store{
                        display: none;
                    }
                    .switcher-trigger{
                        color: @color-white;
                    }
                    .switcher-option{
                        a{
                            color: @color-black;
                        }
                    }
                }
            }
        }

        .footer-cards{
            li{
                padding: 0;
                display: flex;
                align-items: center;
                justify-content: center;
                &:not(:last-child){
                    &:after{
                        content: '';
                        height: 10px;
                        width: 1px;
                        background: @color-white;
                        display: inline-block;
                        margin: 0 10px;
                    }
                }
                svg {
                    display: block;
                    width: 50px;
                }
            }
        }

        .footer-links-container,
        .footer-service-links{
            text-transform: uppercase;
            li{
                display: inline-block;
                &:not(:last-child){
                    &:after{
                        content: '';
                        width: 1px;
                        height: 10px;
                        display: inline-block;
                        background: @color-white;
                        margin: 0 10px;
                    }
                }
            }
        }

        .footer-links-container{
            padding-bottom: 25px;
            margin-bottom: 25px;
            border-bottom: 1px solid @color-white;
        }

        .footer-service{
            p{
                &.company-name{
                    max-width: 110px;
                    margin-right: 0;
                }
            }
        }

        .copyright{
            margin-top: 30px;
            color: #bdbdbd;
            font-size: 14px;
        }
        
    }

    .page-wrapper{
        > .page-bottom{
            margin-top: auto;
            max-width: 100%;
            width: 100%;
            padding: 0;


        }
    }

    .footer-top-content{
        a{
            text-decoration: underline;
            color: @color-black;
        }
    }
}

// Desktop
.media-width(@extremum, @break) when (@extremum = 'min') and (@break = @screen__m) {
    .page-footer{
        .footer-cards{
            .flex{
                justify-content: end;
            }
            
        }

        .footer-links-container .footer-links-2,
        .footer-service-links{
            text-align: right;
        }

        .footer-service{
            p{
                max-width: 110px;
                display: inline-block;
                vertical-align: middle;
                margin-right: 10px;
            }
        }

        .copyright{
            text-align: center;
        }
    }
    .page-wrapper{
        > .page-bottom{
            max-width: 100%;
            width: 100%;
            padding: 0;
        }
    }

    .footer-top-content{
        padding: 20px 0;
        .pagebuilder-column{
            position: relative;
            &:not(:last-child){
                &:after{
                    content: '';
                    width: 1px;
                    height: 50px;
                    display: inline-block;
                    background: @coke-gray2;
                    right: 0;
                    .center-absolute-vertical();
                }
            }
        }
    }
}

// Mobile
.media-width(@extremum, @break) when (@extremum = 'max') and (@break = @screen__m) {
    .page-footer{
        .footer-links-container,
        .footer-service-links{
            ul{
                li{
                    padding-bottom: 10px;
                    display: block;
                    &:after{
                        display: none !important;
                    }
                }
            }
        }

        .footer-service{
            margin-bottom: 15px;
        }

        .footer-cards{
            .flex{
                justify-content: center;
            }
        }
    }

    .footer-top-content{
        padding: 20px 0;
        .pagebuilder-column{
            flex-direction: row !important;
            padding: 10px 15px !important;
            [data-content-type="html"]{
                flex:1 0 32px;
                padding-top: 3px;
            }
            [data-content-type="text"]{
                flex:1 0 ~'calc(100% - 32px)';
                padding-left: 10px;
            }

        }
    }
}
