//  Common
& when (@media-common = true) {
    .global-top-banner {
        background: @color-black;
        color: @color-white;
        padding: 5px 0;
        text-transform: uppercase;
        [data-content-type="row"][data-appearance="contained"] {
            max-width: @layout__max-width_header;
            padding: 0 20px;
        }
        p {
            margin-bottom: 0;
        }
    }

    .page-header {
        position: sticky;
        top: 0;
        border-bottom: 1px solid @color-black;
        background: @color-white;
        z-index: 100;
        margin-bottom: 0;
        .panel.wrapper {
            display: none;
        }
    }

    .sticky {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        z-index: 102;
        background: @color-white;
    }

    .minicart-wrapper {
        margin-top: 0;
        .action {
            &.showcart,
            &.showcart.active {
                .lib-icon-image(
                    @_icon-image: "@{baseDir}images/icons/icon-cart.svg",
                    @_icon-image-width: 36px,
                    @_icon-image-height: 37px
                );
                &:before {
                    background-size: 100% auto;
                    vertical-align: top;
                }
                //.lib-icon-font(
                //    @_icon-font-content: @icon-cart,
                //    @_icon-font-size: 28px,
                //    @_icon-font-color: @color-white,
                //    @_icon-font-line-height: 36px,
                //    @_icon-font-position: before
                //);
                //&:before{
                //    background-size: 100% auto;
                //    vertical-align: top;
                //    background-color: @color-black;
                //    font-weight: 300;
                //    border-radius: 50px;
                //    min-width: 36px;
                //}
                &:hover:before {
                    color: @color-white;
                }
            }
        }
    }

    .header-account-wrapper {
        float: right;
        position: relative;
        display: inline-block;

        a {
            text-decoration: none;
        }
        .account-icon {
            .lib-icon-image(
                @_icon-image: "@{baseDir}images/icons/icon-user.svg",
                @_icon-image-width: 36px,
                @_icon-image-height: 37px
            );
            &:before {
                background-size: 100% auto;
            }
            //&:before{
            //    content: '';
            //    background-size: 18px auto;
            //    background-position: center center;
            //    background-color: @color-black;
            //    background-image: url('@{baseDir}images/icons/icon-user.svg');
            //    background-repeat: no-repeat;
            //    font-weight: 300;
            //    border-radius: 50px;
            //    width: 36px;
            //    height: 36px;
            //    display: block;
            //}
        }
    }

    .logo {
        img {
            max-width: 100%;
            height: auto;
        }
    }

    .block-search {
        padding-left: 0;
        margin-top: 0;
        input {
            border-width: 0 0 1px 0;
            height: 34px;
            border-color: @color-black;
        }
        .action.search {
            opacity: 1 !important;
            &:before {
                color: @color-black !important;
            }
        }
        .action.advanced {
            display: none;
        }
    }

    .pagebuilder-column-group.slick-slider {
        display: block !important;
        width: 100%;
    }

    .page-print {
        .logo {
            margin-bottom: 30px;
        }
        .footer-top-content {
            display: none;
        }
    }
}

// Desktop
.media-width(@extremum, @break) when (@extremum = 'min') and (@break = @screen__m) {
    .page-header {
        border-bottom: 1px solid @color-black;
    }

    .header.content {
        max-width: @layout__max-width_header;
        display: grid;
        grid-template-columns: 2fr 1fr 2fr;
        padding-top: 0;

        &:before,
        &:after {
            display: none;
        }
        .sections.nav-sections {
            order: 0;
        }

        .logo-wrapper {
            order: 1;
            padding: 10px 20px;
            text-align: center;
            display: flex;
        }

        .header-right-wrapper {
            order: 2;
            padding-top: 20px;
        }

        .logo {
            float: none;
            margin: auto;
            display: inline-block;
            max-width: 100%;
        }
        .block-search {
        }
        .minicart-wrapper {
        }
    }

    .header-account-wrapper {
        margin-left: 13px;
    }
}

& when (@media-target = 'desktop'), (@media-target = 'all') {
    @media only screen and (min-width: @screen__m) and (max-width: (@screen__l)) {
        .navigation {
            .level0,
            .level0.parent {
                > .level-top {
                    padding: 0 5px;
                    font-size: 10px;
                }
            }
        }

        .block-search {
            max-width: 150px;
            padding-left: 0;
        }

        .header-account-wrapper .account-icon:before,
        .minicart-wrapper .action.showcart:before,
        .minicart-wrapper .action.showcart.active:before {
            width: 30px;
            height: 30px;
        }
    }
}

// Mobile
.media-width(@extremum, @break) when (@extremum = 'max') and (@break = @screen__m) {
    .header-account-wrapper {
        display: none !important;
    }

    .global-top-banner {
        p {
            text-align: center;
            font-size: 12px;
        }
    }

    .header.content {
        min-height: 70px;
    }

    .nav-toggle:before,
    .block-search .label:before {
        color: @color-black;
    }

    .header-right-wrapper {
        padding-top: 6px;
    }

    .minicart-wrapper,
    .header-account-wrapper {
        margin-left: 5px;
    }

    .minicart-wrapper {
        margin-bottom: 18px;
    }

    .logo-wrapper {
        text-align: center;
    }

    .logo {
        //margin-left: 75px;
        position: absolute;
        left: 0;
        right: 0;
        margin: auto;
        img {
            display: block;
            margin: auto;
        }
    }

    .block-search {
        .label {
            position: absolute;
            left: 45px;
            font-size: 28px;
            line-height: 28px;
        }
        .control {
            border-top-color: @color-black;
        }
    }
}
