//  Common
& when (@media-common = true) {
    h1,h2,h3{
        .tccc-unityheadline()
    }

    .badge {
        &.badge-pending{
            font-size: inherit;
            letter-spacing: .8px;
            text-transform: uppercase;
            color: @color-white;
            background: @coke-orange;
            border-radius: 50px;
            padding: 5px 10px;
            display: inline-block;
        }
        &.checkout-pending{
            font-size: 12px;
            padding: 5px;
        }
    }
}

// Desktop
.media-width(@extremum, @break) when (@extremum = 'min') and (@break = @screen__m) {
    .mobile-only{
        display: none !important;
    }
}

// Mobile
.media-width(@extremum, @break) when (@extremum = 'max') and (@break = @screen__m) {
    .desktop-only{
        display: none !important;
    }
}

//Mixins
.gradient-background() {
    background-image: linear-gradient(to left, #82e1ff 0%, #78e6a0 20%, #ffb400 40%, #ff8700 60%, #ff5a00 80%, #f40000 100%);
}

.center-absolute-vertical(){
    position: absolute;
    top:50%;
    transform: translate(0, -50%);
}

.gradient-underline(){
    background: linear-gradient(to right, #78e6a0 0%, #82e1ff 100%);
}
