//  Common
& when (@media-common = true) {
    .modals-wrapper {
        .modal-footer {
            display: flex;
            justify-content: space-between;
            .action {
                max-width: 48%;
                &.action-hide-popup {
                    color: #fff;
                    background: #f40000;
                    border-color: #f40000;
                    font-weight: bold;
                }
            }
        }
    }
}

