//  Common
& when (@media-common = true) {
    .search-results-hero {
        position: relative;
        width: 100%;
        max-width: 100%;
        background-image: url('@{baseDir}images/coke-search-hero.jpg');
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
        margin-bottom: 10px;

        .wrapper {
            position: relative;
            display: flex;
            align-items: center;
            width: 1170px;
            max-width: 100%;
            padding: 0 20px;
            margin: 0 auto;
            z-index: 6;
        }
        h1 {
            color: #fff;
        }
    
        .search-query {
            margin-bottom: 10px;
        }

        .result-count {
            font-size: 0.8em;
        }
    }
}

// Desktop
.media-width(@extremum, @break) when (@extremum = 'min') and (@break = @screen__m) {

    .search-results-hero {
        min-height: 400px;
        .wrapper {
            min-height: 400px;
        }
    }
}

// Mobile
.media-width(@extremum, @break) when (@extremum = 'max') and (@break = @screen__m) {
    .search-results-hero {
        min-height: 200px;
        .wrapper {
            min-height: 200px;
        }
    }
}
