@color-red: #f40000;
//Coke Colors
@coke-black-gray:#404040;
@coke-light-gray:#f5f5f5;
@coke-gray2:#a1a1a1;
@coke-gray3:#727272;
@coke-red:#f40000;
@coke-orange:#cc5801;
@coke-orange2:#fff1e6;

@coke-primary: @coke-black-gray;
@coke-dark: @coke-black-gray;

@font-family-name__base: 'TCCC-UnityText', 'Helvetica Neue', Helvetica, Arial, sans-serif;
@font-family-name__TCCC-UnityHeadline:'TCCC-UnityHeadline', 'Montserrat', 'Helvetica Neue', Helvetica, Arial, sans-serif;;

@font-size__base: 14px;
@indent__base: 20px;
@font-brand-weight-medium: 400;

@page__background-color: #fff;
@layout__max-width: 1210px;
@layout__max-width_header: 1340px;

@theme__color__primary:@color-black;
@theme__color__secondary: @coke-primary;

@link__color: @coke-red;
@link__hover__color: lighten(@coke-red, 10%);
//@_link-text-decoration-hover: underline;

// Buttons
@button__border-radius: 50px;
@button__font-weight: @font-weight__heavier;
@button-primary__active__background: @button-primary__background;
@button-primary__active__border: @button-primary__border;

//Secondary Button
@button-secondary_color: @color-white;
@button-secondary_background: @coke-dark;
@button-secondary_active_color: @color-white;
@button-secondary_active_background: @coke-dark;
@button-secondary_border_color: @coke-dark;
@button-secondary_active_border_color: @coke-dark;

// Grid
@grid-column-count: 12;
@grid-gutter: 10px;

@checkbox__width: 16px;
@checkbox__height: @checkbox__width;
@checkbox-checked__font-family: @icons__font-name;
@checkbox-checked__content: '\e610';

@radio__width: 16px;
@radio__height: @radio__width;

@autocomplete__border: 1px solid @color-black;
