<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <coke_catalog>
            <pricing>
                <show_decimals>1</show_decimals>
            </pricing>
        </coke_catalog>
    </default>
</config>
