& when (@media-common = true) {
    button{
        box-shadow: none !important;
    }

    button,
    input[type="submit"],
    a {
        &.action.primary:not(.apply):not(.continue) {
            .lib-button-primary(
                @_button-font-size: 18px,
                @_button-padding: 11px 35px,
                @_button-background: @coke-green-dark,
                @_button-border:2px solid @coke-green-dark,
                @_button-font-weight: 700,
                @_button-background-hover: @color-white,
                @_button-background-active: @color-white,
                @_button-color-hover: @coke-green-dark,
                @_button-color-active: @coke-green-dark,
                @_button-border-hover: 2px solid @coke-green-dark,
                @_button-border-active: 2px solid @coke-green-dark
            );
            .lib-css(border-radius, @button-primary__border-radius);
        }
    }

    button,
    input[type="submit"],
    a{
        &.action.secondary{
            .lib-link-as-button();
            .lib-button-secondary();
            .lib-css(border-radius, @button-primary__border-radius);
            padding: 13px 25px;
            font-size: 16px;
            line-height: 1;
            text-decoration: none;
            text-align: center;
            box-shadow: none;

        }
    }
    a.pagebuilder-button-primary, button.pagebuilder-button-primary, div.pagebuilder-button-primary,
    .pagebuilder-button-primary{
        .lib-button-primary(
            @_button-font-size: 16px,
            @_button-padding: 11px 35px,
            @_button-background: @coke-green-dark,
            @_button-border:2px solid @coke-green-dark,
            @_button-font-weight: 700,
            @_button-background-hover: @color-white,
            @_button-background-active: @color-white,
            @_button-color-hover: @coke-green-dark,
            @_button-color-active: @coke-green-dark,
            @_button-border-hover: 2px solid @coke-green-dark,
            @_button-border-active: 2px solid @coke-green-dark
        );
    }


    a.pagebuilder-button-secondary, button.pagebuilder-button-secondary, div.pagebuilder-button-secondary,
    .pagebuilder-button-secondary{
        .lib-link-as-button();
        .lib-button-secondary();
        .lib-css(border-radius, @button__border-radius);
        padding: 15px 25px;
        font-size: 1.6rem;
        line-height: 1;
        text-decoration: none;
        text-align: center;
    }
}

//Mixins
.lib-button-secondary() {
    .lib-button(
        @_button-color: @button-secondary_color,
        @_button-background: @button-secondary_background,
        @_button-border: 2px solid @button-secondary_border_color,
        @_button-color-hover: @button-secondary_active_color,
        @_button-background-hover: @button-secondary_active_background,
        @_button-border-hover: 2px solid @button-secondary_active_border_color,
        @_button-color-active: @button-secondary_active_color,
        @_button-background-active: @button-secondary_active_background,
        @_button-border-active: 2px solid @button-secondary_active_border_color
    );
}


// desktop
.media-width(@extremum, @break) when (@extremum = 'min') and (@break = @screen__m) {

}

// mobile
.media-width(@extremum, @break) when (@extremum = 'max') and (@break = @screen__m) {

}
