
#site-header {
  background: #fff;
  position: sticky;
  top: 0;
  z-index: 9;

  @media (min-width: @bp-md-min) {
    box-shadow: 0 1px 5px rgba(0, 0, 0, 0.15);
  }

  .container {
    display: flex;
    align-items: center;
    position: relative;

    @media (min-width: @bp-md-min) {
      height: @header-height-desktop;
    }

    > * {
      @media (max-width: @bp-md-max) {
        &:not(.logo) {
          min-width: 52px;
          text-align: center;
        }
      }

      > a {
        padding: @grid-gutter;
        position: relative;
        line-height: 1;
        transition: @transition-default;
        display: inline-block;

        @media (min-width: @bp-md-min) {
          padding-top: @section-pad-xs;
          padding-bottom: @section-pad-xs;
        }

        svg {
          transition: @transition-default;

          path {
            transition: @transition-default;
          }
        }

        &:hover,
        &:focus {
          color: @color-brand-primary;
        }
      }
    }
  }

  .logo {
    flex: 1;
    text-align: center;

    @media (min-width: @bp-md-min) {
      text-align: left;
      margin-left: -@grid-gutter;
    }
  }

  .mini-cart {
    margin-right: -@grid-gutter;

    > a {
      svg {
        width: 18px;
        height: auto;
        position: relative;
        top: 2px;

        path {
          stroke: @color-header;
        }
      }

      &:hover,
      &:focus {
        svg {
          path {
            stroke: @color-brand-primary;
          }
        }
      }
    }
  }

  .drawer {
    margin-left: -@grid-gutter;

    > a {
      svg {
        width: 22px;
        height: auto;
      }

      &:hover,
      &:focus {
        svg {
          path {
            fill: @color-brand-primary;
          }
        }
      }
    }
  }

  .account {
    > a {
      svg {
        width: 22px;
        height: auto;
        position: relative;
        top: 2px;
      }

      &:hover,
      &:focus {
        svg {
          path {
            stroke: @color-brand-primary;
          }
        }
      }
    }
  }

  .cms-home & {
    box-shadow: none;
  }
}