._hide-xxs {
  @media (max-width: @bp-xs-max) {
    display: none !important;
  }
}

._hide-xxs-up {
  @media (min-width: @bp-xs-min) {
    display: none !important;
  }
}

._hide-xs {
  @media (min-width: @bp-xs-min) and (max-width: @bp-sm-max) {
    display: none !important;
  }
}

._hide-xs-up {
  @media (min-width: @bp-xs-min){
    display: none !important;
  }
}

._hide-sm {
  @media (min-width: @bp-sm-min) and (max-width: @bp-md-max) {
    display: none !important;
  }
}

._hide-sm-up {
  @media (min-width: @bp-sm-min){
    display: none !important;
  }
}

._hide-md {
  @media (min-width: @bp-md-min) and (max-width: @bp-lg-max) {
    display: none !important;
  }
}

._hide-md-up {
  @media (min-width: @bp-md-min) {
    display: none !important;
  }
}

._hide-md-dwn {
  @media (max-width: @bp-md-max) {
    display: none !important;
  }
}

._hide-lg {
  @media (min-width: @bp-lg-min) and (max-width: @bp-xlg-max) {
    display: none !important;
  }
}

._hide-lg-up {
  @media (min-width: @bp-lg-min){
    display: none !important;
  }
}

._hide-xlg,
._hide-xlg-up {
  @media (min-width: @bp-xlg-min) {
    display: none !important;
  }
}
