<?xml version="1.0" ?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <type name="Magento\InventoryBundleProduct\Model\GetBundleProductStockStatus">
        <plugin name="Coke_InventoryBundleProduct::getBundleProductStockStatusPlugin"
                type="Coke\InventoryBundleProduct\Plugin\GetBundleProductStockStatusPlugin"/>
    </type>
</config>
