& when (@media-common = true) {
    // Slick slider
    .slick-slider{
        .slick-arrow{
            background: none;
            &.slick-next{
                right: 0;
            }

            &.slick-prev{
                left: 0;
            }
        }
    }

    .image-carousel {
        &:not(.slick-initialized) {
            figure {
                &:not(:first-child) {
                    display: none;
                }
            }
        }

        figure,
        picture {
            img {
                margin-left: auto;
                margin-right: auto;
                height: auto;
                width: 100%;
            }
        }
    }
}

// desktop
.media-width(@extremum, @break) when (@extremum = 'min') and (@break = @screen__m) {
    .slick-slider{
        .slick-arrow{
            &.slick-next,
            &.slick-prev{
                width: 50px;
                height: 50px;
                &:before {
                    font-size: 35px;
                }
            }
        }
    }
}

// mobile
.media-width(@extremum, @break) when (@extremum = 'max') and (@break = @screen__m) {
    .slick-slider{
        .slick-arrow{
            &.slick-next,
            &.slick-prev{
                width: 30px;
                height: 30px;
                &:before {
                    font-size: 20px;
                }
            }
        }
    }
}
