<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <fortyfour_lazysizes>
            <catalog>
                <enabled>0</enabled>
            </catalog>
        </fortyfour_lazysizes>
    </default>
    <websites>
        <egypt_website>
            <fortyfour_lazysizes>
                <catalog>
                    <enabled>1</enabled>
                </catalog>
            </fortyfour_lazysizes>
        </egypt_website>
    </websites>
</config>
