<!-- ko if: whitelistStatusPending -->
<div class="whitelist-notice-container">
    <p><strong data-bind="i18n: 'Your order contains text that needs to be reviewed.'"></strong></p>
    <p data-bind="i18n: 'The text you enter on a product will need to be reviewed. If the text is not approved, the order will be cancelled. In the case of cancellation, all products included in this order will be subject to cancellation.'"></p>
    <p data-bind="i18n: 'We will notify you by email as soon as the review is completed.'"></p>
</div>
<!-- /ko -->
