& when (@media-common = true) {
    [data-content-type='row'] {
        li.product-item {
        }
    }

    .pre-bundle-list[data-content-type="products"]{
        .pagebuilder-column &{
            .block.widget .products-grid .product-items{
                li.product-item {
                    width: calc(~'(100% - 2%) / 2');
                }
            }
        }
    }
}



// Desktop
.media-width(@extremum, @break) when (@extremum = 'min') and (@break = @screen__m) {
    .product-item {
        .block.widget .products-grid .product-items &,
        .page-layout-1column .products-grid .product-items &
        {
            padding: 10px 12px 8px;
        }
    }

    .pre-bundle-list[data-content-type="products"]{
        .pagebuilder-column &{
            .block.widget .products-grid .product-items{
                li.product-item {
                    margin-left: 4%;
                    width: calc(~'(100% - 4%) / 2');

                    &:nth-child(3n + 1) {
                        margin-left: 4%;
                    }

                    &:nth-child(2n + 1) {
                        margin-left: 0;
                    }
                }
            }
        }
    }
}

// mobile
.media-width(@extremum, @break) when (@extremum = 'max') and (@break = @screen__m) {
    .product-item {
        .block.widget .products-grid .product-items &,
        .page-layout-1column .products-grid .product-items &
        {
            padding: 10px 12px 8px;
        }
    }
}
