// Global
//  _____________________________________________
& when (@media-common = true) {
    // Customer Account Edit
    .egypt_website.customer-address-form {
        .field.street {
            .nested {
                display: flex;
                justify-content: space-between;
                .field.additional {
                    width: 49%;
                    .label {
                        position: relative;
                        width: auto;
                        height: auto;
                        clip: unset;
                        span {
                            font-weight: normal;
                        }
                    }
                }
            }
        }
    }
    // Checkout Page
    .egypt_website.checkout-index-index {
        .field.street {
            .control {
                display: flex;
                flex-wrap: wrap;
                justify-content: space-between;
                .field {
                    width: 100%;
                    &.additional {
                        width: 49%;
                        .label {
                            position: relative;
                            width: auto;
                            height: auto;
                            clip: unset;
                            span {
                                font-weight: normal;
                            }
                        }
                    }
                }
            }
        }
    }
}

//  Desktop
//  _____________________________________________
@media only screen and (min-width: @screen__m) {
}

//  Mobile
//  _____________________________________________
@media only screen and (max-width: @screen__m) {
}
