@color-red9: #f40000;
@color-red10: @color-red9;
@color-red11: @color-red9;
@color-red12: @color-red9;
@color-red13: #f24343;
@color-orange-red1: @color-red9;
@color-orange-red2: @color-red9;
@color-orange-red3: @color-red9;
@color-orange-red4: @color-red9;
@color-blue1: @color-red9;

@active__color: @color-red9;
@link__color: @color-red9;
@link__hover__color: @color-red13;

@button-primary__background: @color-red9;
@button-primary__border: 1px solid @color-red9;
@button-primary__hover__background: @color-red13;
@button-primary__hover__border: 1px solid @color-red13;
@button-primary__padding: 10px 30px;
@button-primary__font-size: 12px;

@navigation-level0-item__active__border-color: @color-red9;
@navigation-desktop-level0-item__active__border-color: @color-red9;
@submenu-item__active__border-color: @color-red9;
@submenu-desktop-item__active__border-color: @color-red9;

@rating-icon__active__color: @color-red9;

@font-family-name__base: 'Gotham';
@font-size__base: 14px;

@button__border-radius: 50px;

//Colors
@coke-red: #f40000;
@color-red: @coke-red;

// Grid
@grid-column-count: 12;
@grid-gutter: 10px;

