// Colors
@color-blue: #005eac;
@color-lightblue: #dff2fd;
@color-red: #f40000;
@color-red10: @color-red;
@color-red11: @color-red;
@color-red12: @color-red;
@color-pink1: lighten(@color-red, 50%);

@color-orange: #f4bf3f;
@color-green: #418652;
@color-offwhite: #f8f8ff;
@color-dark: #565656;
@color-grey: #d3d3d3;
@border-radius: 1rem;
@border-color: rgba(0, 0, 0, 0.1);
@box-shadow-1: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
@box-shadow-2: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
@box-shadow-transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
@color-orange-red1: @color-red;
// Buttons
@button__padding: 1rem 2rem;
@button__border: none;
@button__color: @color-white;
@button__box-shadow: @box-shadow-1;
@button__border-radius: @border-radius;
@button__background: @color-blue;
@button__hover__background: darken(@color-blue, 5%);
@button-primary__active__border: none;
// Forms
@input-height: 4rem;
@input-font-size: 1.75rem;
@input-line-height: 1;
@input-padding: 0 1.5rem;

@form-element-input__border-radius: @border-radius;
@form-element-input__font-size: @input-font-size;
@form-element-input__padding: @input-padding;
@form-element-input__height: @input-height;
@form-element-input__line-height: @input-line-height;
@form-element-input__background: @color-white;
@form-element-input__color: @color-black;
@form-element-input__border-color: @border-color;

@select__height: @input-height;
@select__line-height: @input-line-height;
@select__font-size: @input-font-size;
@select__border-radius: @border-radius;
@select__border: 1px solid @border-color;
@select-color: @color-black;
