<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <coke_disablecheckoutemail>
            <general>
                <enable_checkout_zip_postal_validations>0</enable_checkout_zip_postal_validations>
            </general>
        </coke_disablecheckoutemail>
    </default>
    <websites>
        <coke_eu>
            <coke_disablecheckoutemail>
                <general>
                    <enable_checkout_zip_postal_validations>1</enable_checkout_zip_postal_validations>
                </general>
            </coke_disablecheckoutemail>
        </coke_eu>
        <coke_uk>
            <coke_disablecheckoutemail>
                <general>
                    <enable_checkout_zip_postal_validations>1</enable_checkout_zip_postal_validations>
                </general>
            </coke_disablecheckoutemail>
        </coke_uk>
    </websites>
</config>
