
.__form-label(@color: @color-text-light; @size: @size-text-sm; @display: inline-block) {
  color: @color;
  font-size: @size;
  margin: 0 0 0.75rem;
  padding: 0;
  display: @display;
  .__type-weight-retina();
}

.__form-input() {
  ._form-input();
  width: 100%;
  height: @height-md;
  filter: none;
  background-clip: padding-box;

  @media (pointer: coarse) {
    font-size: 1.6rem;
  }

  &:disabled {
    background-color: @color-grey100;
    opacity: 1;
  }

  &[readonly] {
    cursor: default;
  }

  &[type="file"] {
    overflow: hidden;

    &:not(:disabled):not([readonly]) {
      cursor: pointer;
    }
  }

  &::placeholder {
    color: @color-text-disabled;
    opacity: 1;
  }

  &:hover:not(:disabled):not(:readonly) {
    border-color: @color-header;
  }

  &:focus:not(:disabled):not(:readonly) {
    background-color: #fff;
    border-color: @color-header;
    box-shadow: none;
  }


  &:-webkit-autofill,
  &:-webkit-autofill:hover,
  &:-webkit-autofill:focus,
  &:-webkit-autofill:active {
    box-shadow: 0 0 0 30px white inset !important;
  }
}
