
.__grid(@cols: 3, @gap: 2rem) {
  display: grid;
  grid-template-columns: repeat(@cols, minmax(0, 1fr));
  gap: @gap;
}

.__container(
  @xxs: 100%;
  @xxsPad: @grid-gutter;
  @xs: 100%;
  @xsPad: @grid-gutter-lg;
  @sm: 100%;
  @smPad: @grid-gutter-lg;
  @md: @bp-md-max;
  @mdPad: @grid-gutter-lg;
  @lg: @bp-lg-max;
  @lgPad: @grid-gutter;
  @xlg: @bp-xlg-max;
  @xlgPad: @grid-gutter
) {
  margin: 0 auto;
  max-width: @xxs;
  padding: 0 @xxsPad;

  @media (min-width: @bp-xs-min) {
    max-width: @xs;
    padding: 0 @xsPad;
  }

  @media (min-width: @bp-sm-min) {
    max-width: @sm;
    padding: 0 @smPad;
  }

  @media (min-width: @bp-md-min) {
    max-width: @md;
    padding: 0 @mdPad;
  }

  @media (min-width: @bp-lg-min) {
    max-width: @lg;
    padding: 0 @lgPad;
  }

  @media (min-width: @bp-xlg-min) {
    max-width: @xlg;
    padding: 0 @xlgPad;
  }
}

.__table-to-flex(
  @cellAlign: flex-start;
  @cellPadV: 3rem;
  @cellPadH: 1.5rem;
  @cellPadFirstLastSides: 0;
  @cellHeaderPad: 0 @cellPadH;
  @headerBorderSize: 0;
  @theadMobDisplay: none;
) {
  > tbody,
  > thead,
  > tfoot {
    display: block;
  }

  > thead {
    @media (max-width: @bp-sm-max) {
      display: @theadMobDisplay;
    }
  }

  tr {
    display: flex;
    width: 100%;
    align-items: @cellAlign;
    flex-flow: row nowrap;
    border-bottom: 1px solid @color-border;
    margin: 0;

    &:only-child,
    &:last-child {
      border-bottom: 0;
    }

    th,
    td {
      flex: 1;
      // word-break: break-word;
      // overflow-wrap: break-word;
      padding: @cellPadV @cellPadH;
      border: 0 !important;

      &:first-child {
        padding-left: @cellPadFirstLastSides;
      }

      &:last-child {
        padding-right: @cellPadFirstLastSides;
      }
    }
  }

  thead {
    tr {
      align-items: flex-end;
      border-bottom: @headerBorderSize solid @color-border;

      th,
      td {
        padding: @cellHeaderPad;
      }
    }
  }
}

.__flex(
  @direction: row;
  @direction-mob: @direction;
  @align-items: flex-start;
  @align-items-mob: @align-items;
  @justify-content: flex-start;
  @justify-content-mob: @justify-content;
  @spacing: 3rem;
  @spacing-mob: @spacing;
  @spacing-sm: @spacing-mob;
  @spacing-md: @spacing;
) {
  display: flex;
  flex-direction: @direction-mob;
  align-items: @align-items-mob;
  justify-content: @justify-content-mob;

  @media (min-width: @bp-sm-min) {
    flex-direction: @direction;
    align-items: @align-items;
    justify-content: @justify-content;
  }

  > * {
    margin: 0 @spacing-mob;
    flex: 1;

    @media (min-width: @bp-sm-min) {
      margin: 0 @spacing-sm;
    }

    @media (min-width: @bp-md-min) {
      margin: 0 @spacing-md;
    }

    @media (min-width: @bp-lg-min) {
      margin: 0 @spacing;
    }

    &:first-child {
      margin-left: 0;
    }

    &:last-child {
      margin-right: 0;
    }
  }
}


.__section-pad(
  @top;
  @bottom;
  @xxsTop: @top;
  @xxsBottom: @bottom;
  @xsTop: @xxsTop;
  @xsBottom: @xxsBottom;
  @smTop: @xsTop;
  @smBottom: @xsBottom;
  @mdTop: @smTop;
  @mdBottom: @smBottom;
  @lgTop: @mdTop;
  @lgBottom: @mdBottom;
  @xlgTop: @lgTop;
  @xlgBottom: @lgBottom
) {
  padding-top: @xxsTop;
  padding-bottom: @xxsBottom;

  @media (min-width: @bp-xs-min) {
    padding-top: @xsTop;
    padding-bottom: @xsBottom;
  }

  @media (min-width: @bp-sm-min) {
    padding-top: @smTop;
    padding-bottom: @smBottom;
  }

  @media (min-width: @bp-md-min) {
    padding-top: @mdTop;
    padding-bottom: @mdBottom;
  }

  @media (min-width: @bp-lg-min) {
    padding-top: @lgTop;
    padding-bottom: @lgBottom;
  }

  @media (min-width: @bp-xlg-min) {
    padding-top: @xlgTop;
    padding-bottom: @xlgBottom;
  }
}

.__spacer(
  @pad: 3rem;
  @margin: 3rem;
  @borderWidth: 1px;
  @borderColor: @color-border
){
  margin-top: @margin;
  padding-top: @pad;
  border-top: @borderWidth solid @borderColor;
}


.__overlay() {
  background: rgba(0, 0, 0, 0.25);
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  content: '';
  display: block;
}
