
.__type-weight-retina(@base: @font-weight-300; @retina: @font-weight-100){
  font-weight: @base;

  @media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
    font-weight: @retina;
  }
}

.__type-font-size(
  @sizeBase;
  @sizeXxs: @sizeBase;
  @sizeXs: @sizeXxs;
  @sizeSm: @sizeXs;
  @sizeMd: @sizeSm;
  @sizeLg: @sizeMd;
  @sizeXlg: @sizeLg
) {
  font-size: @sizeXxs;

  @media (min-width: @bp-xs-min) {
    font-size: @sizeXs;
  }

  @media (min-width: @bp-sm-min) {
    font-size: @sizeSm;
  }

  @media (min-width: @bp-md-min) {
    font-size: @sizeMd;
  }

  @media (min-width: @bp-lg-min) {
    font-size: @sizeLg;
  }

  @media (min-width: @bp-xlg-min) {
    font-size: @sizeXlg;
  }
}


.__type-header(
  @margin: 2rem;
  @spacing: @letter-spacing-md;
  @color: @color-header;
  @weight: @font-weight-600;
  @textTransform: uppercase;
) {
  font-family: @ff-header;
  margin: 0 0 @margin;
  font-weight: @weight;
  line-height: 1.2;
  text-transform: @textTransform;
  letter-spacing: @spacing;
  color: @color;
}

.__type-reset(@fontSize: @font-size-base){
  letter-spacing: normal;
  font-size: @fontSize;
  font-weight: @font-weight-300;

  strong {
    font-weight: @font-weight-300;
  }
}

.__type-p(){
  margin: 0 0 1.5rem;
  color: @color-text;

  &:last-child {
    margin-bottom: 0;
  }
}
