@font-face {
    font-family: 'Gotham Light';
    src: url('../fonts/gotham-light.woff') format('woff');
    font-weight: 'normal';
    font-style: 'normal';
}

@font-face {
    font-family: 'Gotham Book';
    src: url('../fonts/gotham-book.woff') format('woff');
    font-weight: 'normal';
    font-style: 'normal';
}

@font-face {
    font-family: 'Gotham Medium';
    src: url('../fonts/gotham-medium.woff') format('woff');
    font-weight: 'normal';
    font-style: 'normal';
}

@font-face {
    font-family: 'Gotham Bold';
    src: url('../fonts/gotham-bold.woff') format('woff');
    font-weight: 'normal';
    font-style: 'normal';
}
@font-face {
    font-family: 'You';
    src: url('../fonts/you-webfont.woff') format('woff');
    font-weight: 'normal';
    font-style: 'normal';
}
@font-face {
    font-family: 'Covered By Your Grace';
    src: url('../fonts/CoveredByYourGrace.eot');
    src: url('../fonts/CoveredByYourGrace.eot?#iefix') format('embedded-opentype'),
        url('../fonts/CoveredByYourGrace.woff2') format('woff2'),
        url('../fonts/CoveredByYourGrace.woff') format('woff'),
        url('../fonts/CoveredByYourGrace.ttf') format('truetype'),
        url('../fonts/CoveredByYourGrace.svg#CoveredByYourGrace') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

