<!--
/**
 * Copyright © Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */
-->
<!--@subject {{trans "Your %store_name email has been changed" store_name=$store.frontend_name}} @-->
<!--@vars {
"var store.frontend_name":"Store Name",
"var store_email":"Store Email",
"var store_phone":"Store Phone",
"var customer.name":"Customer Name"
} @-->
{{template config_path="design/email/header_template"}}

<p class="greeting">{{trans "%name," name=$customer.name}}</p>
<p>{{trans "We have received a request associated with your account."}}</p>
<table class="button" width="100%" border="0" cellspacing="0" cellpadding="0">
    <tr>
        <td>
            <table class="inner-wrapper" border="0" cellspacing="0" cellpadding="0" align="center">
                <tr>
                    <td align="center">
                        <a href="{{var this.getUrl($store,'customer/account/edit/')}}" target="_blank">{{trans "Change your Email Address"}}</a>
                    </td>
                </tr>
            </table>
        </td>
    </tr>
</table>
<p>{{trans 'If you do not remember this request, please contact us immediately using the <a href="%url">contact form</a>' url="$this.getUrl($store,'contact')" |raw}}</p>
{{template config_path="design/email/footer_template"}}
