& when (@media-common = true) {
    .whitelist-badge {
        border: 1px solid #ed1c16;
        color: #ed1c16;
        font-size: 12px;
        margin-left: 4px;
        padding: 2px 4px;
    }

    .checkout-index-index {
        .whitelist-notice-container {
            margin: 40px 0;
        }
    }
}
