.lib-font-face-ext(
    @family-name,
    @font-path,
    @font-ext,
    @font-format: false,
    @font-weight: normal,
    @font-style: normal,
    @font-display: auto
) when not (@font-format = false) {
    @font-face {
        font-family: @family-name;
        src: url('@{font-path}.@{font-ext}') format(@font-format);
        font-weight: @font-weight;
        font-style: @font-style;
        font-display: @font-display;
    }
}
/**
 * TCCC Font
 */
.lib-font-face(
    @family-name: 'TCCC-UnityText',
    @font-path: '@{baseDir}fonts/unity/TCCC-UnityText-Regular',
    @font-weight: normal,
    @font-display: swap
);
.lib-font-face(
    @family-name: 'TCCC-UnityText',
    @font-path: '@{baseDir}fonts/unity/TCCC-UnityText-Medium',
    @font-weight: 600,
    @font-display: swap
);
.lib-font-face(
    @family-name: 'TCCC-UnityText',
    @font-path: '@{baseDir}fonts/unity/TCCC-UnityText-Bold',
    @font-weight: 700,
    @font-display: swap
);


.lib-font-face(
    @family-name: 'TCCC-UnityCondensed',
    @font-path: '@{baseDir}fonts/unity/TCCC-UnityCondensed-Medium',
    @font-weight: normal,
    @font-display: swap
);
.lib-font-face(
    @family-name: 'TCCC-UnityCondensed',
    @font-path: '@{baseDir}fonts/unity/TCCC-UnityCondensed-Medium',
    @font-weight: 600,
    @font-display: swap
);
.lib-font-face(
    @family-name: 'TCCC-UnityCondensed',
    @font-path: '@{baseDir}fonts/unity/TCCC-UnityCondensed-Bold',
    @font-weight: 700,
    @font-display: swap
);


.lib-font-face(
    @family-name: 'TCCC-UnityHeadline',
    @font-path: '@{baseDir}fonts/unity/TCCC-UnityHeadline-Regular',
    @font-weight: normal,
    @font-display: swap
);
.lib-font-face(
    @family-name: 'TCCC-UnityHeadline',
    @font-path: '@{baseDir}fonts/unity/TCCC-UnityHeadline-Medium',
    @font-weight: 600,
    @font-display: swap
);
.lib-font-face(
    @family-name: 'TCCC-UnityHeadline',
    @font-path: '@{baseDir}fonts/unity/TCCC-UnityHeadline-Bold',
    @font-weight: 700,
    @font-display: swap
);

// Bernier Reg
.lib-font-face(
    @family-name: 'Bernier Reg',
    @font-path: '@{baseDir}fonts/bernier-regular/BERNIERRegular-Regular',
    @font-weight: normal
);

.tccc-unityheadline {
    font-family: 'TCCC-UnityHeadline', 'Montserrat', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

.tccc-unitycondensed {
    font-family: 'TCCC-UnityCondensed', 'Montserrat', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

.bernier-font {
    font-family: 'Bernier Reg', 'ropa-soft-pro', 'TCCC-UnityText', 'Montserrat', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}
