<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <enable>
            <address>
                <general>
                    <is_enabled>0</is_enabled>
                </general>
            </address>
        </enable>
    </default>
    <stores>
        <great_britain_english>
            <enable>
                <address>
                    <general>
                        <is_enabled>1</is_enabled>
                        <api_key>PCWWP-7VM2Y-ZFRVC-BY7KY</api_key>
                        <identifier>CokeEU-GB</identifier>
                        <country_code>uk</country_code>
                        <maximum_results>5</maximum_results>
                    </general>
                </address>
            </enable>
        </great_britain_english>
    </stores>
</config>
