<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:App/etc/routes.xsd">
    <router id="standard">
        <route id="aw_sarp2" frontName="aw_sarp2">
            <module name="Coke_Sarp2" before="Aheadworks_Sarp2" />
        </route>
    </router>
</config>
