& when (@media-common = true) {
    .sales-order-view {
        .cancel-order-popup {
            .modal-inner-wrap {
                max-width: 600px;
                padding-bottom: 40px;
            }
        }

        .cancel-order-modal-content {
            .actions {
                align-items: flex-start;
                display: flex;
                justify-content: space-between;
            }
        }
    }
}
