<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <type name="Magento\PageBuilder\Model\Wysiwyg\DefaultConfigProvider">
        <arguments>
            <argument name="additionalSettings" xsi:type="array">
                <item name="toolbar" xsi:type="string">
                    undo redo | code | styleselect | fontsizeselect | lineheightselect | forecolor backcolor | bold italic underline | alignleft aligncenter alignright | numlist bullist | link image table charmap | magentowidget | magentovariable
                </item>
                <item name="fontsize_formats" xsi:type="string">10px 12px 14px 16px 18px 20px 24px 26px 28px 32px 34px 36px 38px 40px 42px 44px 46px 48px 52px 56px 64px 72px 94px</item>
                <item name="lineheight_formats" xsi:type="string">10px 12px 14px 16px 18px 20px 24px 26px 28px 32px 34px 36px 38px 40px 42px 48px 52px 56px 60px 64px 72px 94px 104px</item>
                <item name="style_formats" xsi:type="array">
                    <item name="important" xsi:type="array">
                        <item name="title" xsi:type="string">Image Container</item>
                        <item name="block" xsi:type="string">div</item>
                        <item name="classes" xsi:type="string">cms-text-image-container</item>
                    </item>
                </item>
<!--                <item name="style_formats" xsi:type="array">-->
<!--                    <item name="whiteTextBrown" xsi:type="array">-->
<!--                        <item name="title" xsi:type="string">White Text / Brown Background</item>-->
<!--                        <item name="block" xsi:type="string">p</item>-->
<!--                        <item name="classes" xsi:type="string">white-text-brown-back</item>-->
<!--                    </item>-->
<!--                    <item name="brownTextWhite" xsi:type="array">-->
<!--                        <item name="title" xsi:type="string">Brown Text / White Background</item>-->
<!--                        <item name="block" xsi:type="string">p</item>-->
<!--                        <item name="classes" xsi:type="string">brown-text-white-back</item>-->
<!--                    </item>-->
<!--                </item>-->
            </argument>
        </arguments>
    </type>
</config>
