<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <type name="Magento\Checkout\Api\GuestShippingInformationManagementInterface">
        <plugin name="coke_newsletter_subscribe_guest_shipping_info" type="FortyFour\NewsletterSubscribeInterest\Plugin\GuestShippingInformationManagement"/>
    </type>
</config>
