@import "theme/_vars.less";

a {
  .lib-link(
      @_link-color: @color-brand-primary,
      @_link-text-decoration: underline,
      @_link-color-visited: @color-brand-primary,
      @_link-text-decoration-visited: underline,
      @_link-color-hover: @color-brand-primary,
      @_link-text-decoration-hover: none,
      @_link-color-active: @color-brand-primary,
      @_link-text-decoration-active: underline
  );
}