& when (@media-common = true) {
    .reward-points-confirmation-popup {
        .modal-inner-wrap {
            .modal-content {
                padding-bottom: 3rem;
            }

            .actions {
                display: flex;
                justify-content: space-between;
                margin-top: 40px;
            }
        }
    }
}
