@import '_extend/_icons.less';
@import '_extend/_variables.less';
@import "_extend/_grid.less";
@import "_extend/_forms.less";
@import "_extend/_header.less";
@import "_extend/_navigation.less";
@import "_extend/_footer.less";

*{
    &:not(.product-item-info){
    }
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;

}

body{
    color: @coke-dark;
}

//testing whitelist module - required styles
/*.product-options-wrapper {
    label {
        color: @color-header;
        font-weight: @font-weight-500;
    }

    .field .control {
        .ui-helper-hidden-accessible {
            color: @color-text;
            display: block;
            margin: -0.5rem 0 1rem;
            line-height: 1.1;
            font-size: @size-text-sm;

            &:empty {
                display: none;
            }
        }

        .note {
            color: @color-text-disabled;
            margin-top: 0.75rem;

            span {
                color: @color-text;
                font-weight: @font-weight-400;
            }

            &.mage-error {
                span {
                    color: @color-error;
                }
            }
        }
    }

    .step-control {
        .control {
            span:first-child {
                display: none;
            }
        }
    }

    .field-step-1 {
        label {
            font-size: @size-text-xlg;
        }

        .step-control + .step-footer {
            margin: 0.75rem 0 0;
        }
    }

    .field-step-2 {
        margin-top: 3rem;
    }

    .step-footer {
        @media (min-width: @bp-xs-min) {
            display: flex;
            align-items: center;
        }

        label {
            margin: 0;
            display: block;

            & + .step {
                margin-top: 0.75rem;

                @media (min-width: @bp-xs-min) {
                    margin-top: 0;
                }
            }
        }

        a {
            margin-left: auto;
            font-size: @size-text-xs;
            font-weight: @font-weight-400;
            ._link-black-underlined();

            &.step-2 {
                @media (min-width: @bp-xs-min) and (max-width: @bp-sm-max) {
                    margin-top: -4.4rem;
                }

                @media (min-width: @bp-md-min) {
                    margin-top: -4.4rem;
                }
            }
        }
    }

    .preview-changes-wrapper {
        margin: 0.5rem 0;

        #preview-changes {
            ._link-black-underlined();
            font-weight: @font-weight-400;
        }
    }
}*/
