& when (@media-common = true) {
    .page-wrapper,
    .modals-wrapper{
        .cds-form {
            .input-container {
                margin-bottom: 20px;

                .optin {
                    p,
                    li {
                        //font-size: 1.33rem !important;
                        //line-height: 2rem !important;
                        //margin: 10px 0 !important;
                    }

                    p {
                        font-size: initial !important;
                        color: initial !important;
                        line-height: initial !important;
                        margin: initial !important;
                    }

                    details {
                        margin-top: 20px;
                    }

                    li {
                        list-style: none !important;
                    }

                    details {
                        li {
                            list-style-type: initial !important;
                            color: initial !important;
                            font-size: initial !important;
                            margin: 0 0 15px !important;
                            line-height: initial !important;
                        }
                    }
                }
            }

            .req {
                color: @color-red;
            }

            label {
                &.label-checkbox{
                    font-weight: @font-weight__regular;
                    max-width: ~"calc(100% - 20px)";
                }

                &:not(.label-checkbox):not(.optin) {
                    display: block;
                    margin-bottom: 5px;
                }
            }
        }
    }

    .cds-form {
        label.optin {
            display: flex;

            summary {
                cursor: pointer;
                font-size: initial !important;
            }
        }

        .input-container {
            &.row {
                margin-left: 0;
                margin-right: 0;
                padding-top: 25px;
                position: relative;

                &.ces-input-error {
                    margin-bottom: 40px;
                }

                .validation-error {
                    bottom: 0;
                    left: 0;
                    position: absolute;
                }

                label[for="birthdate"],
                label[for="mobile"]{
                    left: 0;
                    position: absolute;
                    top: 0;
                }

                [name="birthdate_day"], [name="birthdate_month"], [name="birthdate_year"] {
                    float: left;
                    margin-right: 10px;
                    width: 75px;
                }

                .validation-error {
                    max-height: 0;
                    width: auto;
                }

                [name="mobileNumberCountryCode"]{
                    margin-bottom: 10px;
                }
                [name="mobile"]{

                }
            }
        }

        button.button-primary, button.ces-form-submit {
            .lib-button-black-padded();
            .lib-css(border-radius, @button__border-radius);

            box-shadow: none;

            &:hover{
                .lib-button-black-padded();
            }
        }

        &#ces-social-login-form,
        &#auth-ces-social-login-form {
            display: none;
        }

        .social-button {
            .lib-button();
            text-decoration: none;
            font-size: 14px;

            &:not(:last-child){
                margin-right: 15px;
            }

            .provider-label {
                display: flex;
                align-items: center;
                &::before {
                    content: '';
                    display: inline-block;
                    height: 18px;
                    margin-right: 5px;
                    vertical-align: middle;
                    width: 18px;
                }
            }

            &#social-facebook {
                .provider-label {
                    &::before {
                        background: url('@{baseDir}Coke_Cds/images/facebook.svg') @color-white no-repeat;
                        border-radius: 2px;
                    }
                }
            }

            &#social-googleplus {

                .provider-label {
                    &::before {
                        background: url('@{baseDir}Coke_Cds/images/googleplus.svg') no-repeat;
                    }
                }
            }

            img {
                display: none;
            }
        }
    }
}

 //desktop
.media-width(@extremum, @break) when (@extremum = 'min') and (@break = @screen__m) {
    .cds-form{
        .input-container {
            &.row {
                [name="mobileNumberCountryCode"],
                [name="mobile"]{
                    float: left;
                }
                [name="mobileNumberCountryCode"]{
                    width: 100px;
                    margin-right: 10px;
                    margin-bottom: 0;
                }
                [name="mobile"]{
                    width: ~'calc(100% - 110px)';
                }
            }
        }
    }
}

// mobile
//.media-width(@extremum, @break) when (@extremum = 'max') and (@break = @screen__m) {
//}
