//Topo Colors
@coke-green-dark: #034638;
@coke-yellow: #FFD100;
@coke-yellow-light: #F2F0A1;
@coke-orange: #FF8200;
@coke-pink: #EF4A81;
@coke-red: #E40046;
@coke-purple: #A20067;
@coke-green-1: #00AB8E;
@coke-green-2: #A4D65E;
@coke-green-3: #A2E4B8;
