// Global
//  _____________________________________________
& when (@media-common =true) {
    .cms-home {

        // Header
        #site-header {
            background: @color-coke-red-light;
            .header-logo {
                img {
                    filter: brightness(0) invert(1);
                }
            }
            // Nav Toggle
            .header-nav-toggle {
                .action.nav-toggle {
                    &:before {
                        color: @color-white;
                    }
                }
            }
            // Nav Links
            .header-nav {
                ul {
                    li {
                        a {
                            color: @color-white;
                            fill: @color-white;
                            &:hover {
                                color: @color-black;
                                fill: @color-black;
                            }
                            &.active {
                                color: @color-black;
                                fill: @color-black;
                            }
                        }
                    }
                }
            }

            // Search Icon
            .block-search {
                .label {
                    &:before {
                        color: @color-white;
                    }
                }
            }

            // Customer Icon 
            .header-customer {
                a:before {
                    color: @color-white;
                }
            }

            // Cart Icon
            .header-cart {
                .minicart-wrapper {
                    .action.showcart:before {
                        color: @color-white;
                    }
                }
            }
        }

        // Mobile Search
        .mobile-search {
            background: @color-coke-red-light;
            .search-field {
                background: @color-white;
                border-color: @color-coke-red-light;
            }
        }

        // Features Section
        .features {
            .pagebuilder-column {
                flex-direction: row !important;
                align-items: center;
                justify-content: center;
                .icon {
                    margin-left: 1rem!important;
                    margin-right: 2rem!important;
                    width: 4.5rem;
                    min-width: 4.5rem;
                    height: 4.5rem;
                    img {
                        width: 100%;
                        height: auto;
                        max-width: 100%;
                    }
                }

                h4 {
                    font-weight: normal;
                    font-size: 1.75rem;
                    color: @color-dark;
                }


            }
        }

        // Above Carousel Section
        .above-carousel {
            text-align: center;
            border-top-left-radius: 15px;
            border-top-right-radius: 15px;
            h1,h2,h3 {
                font-size: 3.5rem;
                font-family: @font-family-medium;
                color: @color-black;
                text-transform: uppercase;
                width: 50rem;
                max-width: 100%;
                margin: 0 auto;
                margin-bottom: 2rem;
            }
            p {
                font-size: 2rem;
                color: @color-black;
                margin: 0;
            }
        }

        // Below Carousel Section
        .below-carousel {
            p {
                font-size: 2rem;
                color: @color-black;
                margin: 0;
            }
        }

        // Category Blocks
        .category-block {
            span {
                font-size: 3rem;
                color: @color-white;
                text-transform: uppercase;
            }
            .pagebuilder-banner-wrapper {
                transition: all 0.33s ease;
                background-size: 100%!important;
            }
            &:hover {
                .pagebuilder-banner-wrapper {
                    background-size: 110%!important;
                }
            }
        }

        // Bulk Section
        .bulk {
            h5 {
                font-size: 3.5rem;
                font-family: @font-family-medium;
                color: @color-black;
                margin: 0;
                padding: 0;
            }

            p {
                font-size: 2rem;
                margin: 2rem 0;
            }

            
        }
        // Remove bottom padding from main column
        .column.main {
            padding-bottom: 0;
        }
    }
}

//  Desktop
//  _____________________________________________
@media only screen and (min-width: @screen__m) {
    .cms-home {
        // Borders
        .pagebuilder-column {
            &.with-borders {
                position: relative;
                &:before, &:after {
                    position: absolute;
                    content: "";
                    height: 5rem;
                    width: 0.1rem;
                    background: @color-dark;
                }
                &:before {
                    left: 0;
                }
                &:after {
                    right: 0;
                }
            }
        }
    }
}

//  Mobile
//  _____________________________________________
@media only screen and (max-width: @screen__m) {
    .cms-home {
        // Category Blocks
        .category-block {
            * {
                margin: 0!important;
            }
        }
        // Bulk Section
        .bulk {
            text-align: center;

            p {
                text-align: center;
            }

            .cta {
                text-align: center;
            }
        }
    }
}
