// Global
//  _____________________________________________
& when (@media-common = true) {
    .customer-account-login {

        // Content
        .block-content {

            // Labels
            .fieldset > .field:not(.choice) > .label {
                text-align: left;
                margin-bottom: 0.5rem;
            }

            // Actions
            form {
                .actions-toolbar {
                    margin-left: 0;
                }
            }
        }
    }
}
//  Desktop
//  _____________________________________________
@media only screen and (min-width: @screen__m) {
}
//  Mobile
//  _____________________________________________
@media only screen and (max-width: @screen__m) {
}