<?xml version="1.0" ?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <section id="soft_delete" showInDefault="1" showInStore="1" showInWebsite="1" sortOrder="999" translate="label">
            <label>Soft Delete Customer Account</label>
            <tab>Coke</tab>
            <resource>Magento_Backend::admin</resource>
            <group id="customer" showInDefault="1" showInStore="1" showInWebsite="1" sortOrder="10" translate="label">
                <label>Customer</label>
                <field id="enable" translate="label" type="select" sortOrder="20" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Allow a customer to delete their account</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
            </group>
        </section>
    </system>
</config>
