<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:Event/etc/events.xsd">
    <event name="sales_order_place_after">
        <observer name="Coke_CancelOrder::SalesOrderPlaceAfterObserver"
                  instance="Coke\CancelOrder\Observer\SalesOrderPlaceAfterObserver" />
    </event>
    <event name="stripe_payments_webhook_charge_succeeded">
        <observer name="Coke_CancelOrder::StripePaymentsWebhookChargeSucceededCard"
                  instance="Coke\CancelOrder\Observer\StripePaymentsWebhookChargeSucceededCard" />
    </event>
    <event name="sales_model_service_quote_submit_success">
        <observer name="Coke_CancelOrder::SalesModelServiceQuoteSubmitSuccess"
                  instance="Coke\CancelOrder\Observer\SalesModelServiceQuoteSubmitSuccess" />
    </event>
</config>
