<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <logicbroker_retailerapi_options>
            <options>
                <send_transaction_info>0</send_transaction_info>
            </options>
        </logicbroker_retailerapi_options>
    </default>
    <websites>
        <coke_uk>
            <logicbroker_retailerapi_options>
                <options>
                    <send_transaction_info>1</send_transaction_info>
                </options>
            </logicbroker_retailerapi_options>
        </coke_uk>
    </websites>
</config>
