<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <preference for="Logicbroker\RetailerAPI\Jobs\Cron\PullShipments" type="Coke\Logicbroker\Cron\LogicbrokerPullShipments" />
    <preference for="Logicbroker\RetailerAPI\Jobs\Cron\SendOrders" type="Coke\Logicbroker\Cron\LogicbrokerSendOrders"/>
    <preference for="Logicbroker\RetailerAPI\Helper\Data" type="Coke\Logicbroker\Preference\Helper" />

    <type name="Magento\Framework\Console\CommandList">
        <arguments>
            <argument name="commands" xsi:type="array">
                <item name="logicbroker_orders" xsi:type="object">Coke\Logicbroker\Console\SendOrderCommand</item>
                <item name="logicbroker_shipments" xsi:type="object">Coke\Logicbroker\Console\PullShipmentsCommand</item>
                <item name="logicbroker_acks" xsi:type="object">Coke\Logicbroker\Console\PullAcksCommand</item>
                <item name="logicbroker_cancelled_orders" xsi:type="object">Coke\Logicbroker\Console\PullCancellationsCommand</item>
            </argument>
        </arguments>
    </type>
</config>
