// Global
//  _____________________________________________
& when (@media-common =true) {
    .bottle-carousel {
        max-height: 430px;
        min-height: 430px;
        overflow: hidden;
        transition: opacity 0.33s ease;
        .item {
            text-transform: uppercase;
            img {
                width: auto;
                height: auto;
                margin: auto;
                max-width: 100%;
            }
            a {
                display: block;
                width: 22rem;
                max-width: 100%;
                margin: 2rem auto;
            }
        }

        // Arrows
        .slick-prev, .slick-next {
            &:before {
                font-size: 2rem;
            }
        }
        // Initialized
        &.slick-initialized {
            height: auto!important;
            opacity: 1!important;
        }
    }
}

//  Desktop
//  _____________________________________________
@media only screen and (min-width: @screen__m) {
    .cms-home {

    }
}

//  Mobile
//  _____________________________________________
@media only screen and (max-width: @screen__m) {
    .cms-home {

    }
}

