// Global
//  _____________________________________________
& when (@media-common = true) {
    .page-layout-cms-block-only-category, .cms-bulk {

        .category-cms {
            h1 {
                font-family: @font-family-medium;
                margin-bottom: 0;
            }
        }
        // Celebrate Grid
        .celebrate-grid {
            // Column
            .pagebuilder-column {
                // Banner
                .pagebuilder-banner-wrapper {
                    // Title
                    h4 {
                        color: @color-white;
                        font-size: 2.4rem;
                        font-family: @font-family-bold;
                        padding-top: 2rem;
                    }
                    .pagebuilder-overlay {
                        align-items: flex-start!important;
                    }
                }
            }
        }
        // Bulk Cards
        .pagebuilder-column.bulk-card {
            background: rgba(216, 216, 216, 0.53);
            border-radius: 2rem;
            div[data-content-type="text"]{
                width: 45rem;
                max-width: 100%;
                margin: 0 auto!important;
            }
            figure[data-content-type="image"]{
                margin: 4rem auto!important;
            }
        }
    }
}
//  Desktop
//  _____________________________________________
@media only screen and (min-width: @screen__m) {
}
//  Mobile
//  _____________________________________________
@media only screen and (max-width: @screen__m) {
    .page-layout-cms-block-only-category {
        // Celebrate Grid
        .celebrate-grid {
            justify-content: center;
            // Column
            .pagebuilder-column {
                max-width: 40rem!important;
                margin: 0 auto!important;
            }
        }
        // Bulk Cards
        .pagebuilder-column.bulk-card {
            margin-left: 0!important;
            margin-right: 0!important;

        }
    }
}