// Global
//  _____________________________________________
& when (@media-common =true) {

    // Custom bottles section on PLP
    .custom-bottles {
        width: 100%;
        max-width: 100%;
        margin: 4rem auto;

        .layout {
            display: flex;
            align-items: center;
        }

        // Image
        .image {
            max-width: 100%;

            img {
                display: block;
                width: auto;
                height: auto;
                max-width: 100%;
            }
        }

        // Form
        .form {
            max-width: 100%;

            // Form Title
            .title {
                margin-bottom: 1rem;

                strong {
                    color: @color-dark;
                    font-size: 3.2rem;
                    font-family: @font-family-medium;
                }
            }

            form {
                display: flex;

                input {
                    height: 4rem;
                    line-height: 4rem;
                    border-radius: 0.5rem;
                    margin-right: 2rem;
                    max-width: 100%;
                    &:focus {
                        box-shadow: 0 0 3px 1px @color-coke-red-light;
                    }
                }

                button {
                    color: @color-white;
                    background: @color-coke-red-light;
                    border-color: @color-coke-red-light;
                    font-family: @font-family-medium;
                    border-radius: 2rem;
                    text-transform: uppercase;
                    transition: all 0.33s ease;

                    &:hover {
                        background: @color-coke-red;
                        border-color: @color-coke-red;
                    }
                }
            }
        }
    }
}

//  Desktop
//  _____________________________________________
@media only screen and (min-width: @screen__m) {

    // Custom bottles section on PLP
    .custom-bottles {


        // Image
        .image {
            width: 22rem;
        }

        // Form
        .form {
            width: 100%;
            width: calc(100% - 22rem);

            // Form Title
            .title {
                strong {
                    color: @color-dark;
                    font-size: 3.2rem;
                    font-family: @font-family-medium;
                }
            }

            form {
                display: flex;
            }
        }
    }
}

//  Mobile
//  _____________________________________________
@media only screen and (max-width: @screen__m) {

    // Custom bottles section on PLP
    .custom-bottles {

        .layout {
            flex-wrap: wrap;
        }

        // Image
        .image {
            width: 100%;

            img {
                margin: 0 auto;
            }
        }

        // Form
        .form {
            width: 100%;

            // Form Title
            .title {
                text-align: center;
                margin-top: 1rem;

                strong {
                    color: @color-dark;
                    font-size: 3.2rem;
                    font-family: @font-family-medium;
                }
            }

            form {
                flex-direction: column;

                input {
                    width: 35rem;
                    margin: 1rem auto;
                    text-align: center;
                }

                button {
                    margin: 1rem auto;
                }
            }
        }
    }
}
