// Global
//  _____________________________________________
& when (@media-common =true) {
    .coke-megamenu-dropdown {
        position: absolute;
        left: 0;
        width: 100%;
        max-width: 100%;
        height: auto;
        margin-top: 2rem;
        padding: 2rem 0;
        background: @color-white;
        z-index: 9999;

        // Layout
        .layout {
            align-items: flex-start;
        }

        // Parent Link
        .nav-parent {
            position: relative;
            margin-bottom: 1rem;
            text-transform: uppercase;

            a {
                color: @color-black;
                font-family: @font-family-medium;
                font-size: 1.2rem;
                letter-spacing: 0.125rem;
                text-decoration: none;

            }

            &::after {
                display: block;
                content: "";
                width: 10rem;
                padding: 0.5rem 0;
                border-bottom: 1px solid @color-black;
            }
        }

        // Text Links
        .text-links {
            min-width: 25rem;

            nav {
                margin-bottom: 4rem;

                ul {
                    margin: 0;
                    padding: 0;
                    list-style: none;

                    a {
                        font-size: 1.5rem;
                        color: @color-dark;
                        text-decoration: none;

                        &:after {
                            display: block;
                            content: "";
                            width: 0rem;
                            height: 0.1rem;
                            margin: 0.25rem 0;
                            background: @color-black;
                            transition: all 0.35s ease-in-out;
                        }

                        &.active {
                            &:after {
                                width: 6rem;
                            }
                        }
                    }
                }

                &:last-of-type {
                    margin-bottom: 0;
                }
            }
        }

        // Image Links
        .image-links {
            padding-left: 2rem;

            // Nav
            nav {
                ul {
                    display: flex;
                    flex-wrap: wrap;
                    margin: 0;
                    padding: 0;
                    list-style: none;

                    li {
                        a {
                            display: flex;
                            flex-direction: column;
                            text-align: center;
                            text-decoration: none;
                        }
                    }
                }
            }

            // First Set
            nav:first-of-type {
                ul {
                    li {
                        width: 31%;
                        margin-right: 2.33%;
                        background: @color-light;

                        a {
                            width: 100%;
                            height: 100%;
                            padding: 2rem;
                            font-size: 1.2rem;
                            color: @color-dark;

                            img {
                                width: auto;
                                height: auto;
                                max-width: 100%;
                                max-height: 100%;
                                transition: all 0.35s ease-in-out;
                            }

                            span {
                                margin-top: 2rem;
                            }

                            &.active {
                                img {
                                    opacity: 0.8;
                                }
                            }
                        }

                        &:last-of-type {
                            margin-right: 0;
                        }
                    }
                }
            }

            // Last Set
            nav:last-of-type {
                ul {
                    justify-content: flex-start;
                    text-transform: uppercase;

                    li {
                        position: relative;
                        width: 23.5%;
                        margin-right: 1.25%;

                        &::nth-child(4n) {
                            margin-right: 0;
                        }

                        a {
                            display: flex;
                            align-items: center;
                            justify-content: center;
                            width: 100%;
                            height: 14rem;
                            padding: 2rem;
                            color: @color-white;
                            font-size: 2rem;
                            transition: background-size 0.33s ease;
                            background-size: 100%;
                            background-repeat: no-repeat;
                            &.active {
                                background-size: 105%;
                            }
                        }
                    }
                }
            }
        }
    }
}

//  Medium Screen
//  _____________________________________________
@media only screen and (max-width: 950px) {

    .coke-megamenu-dropdown {
        // Image Links
        .image-links {
            // Last Set
            nav:last-of-type {
                ul {
                    li {
                        width: 31%;
                        margin-right: 2.33%;
                    
                        a {
                            font-size: 1.5rem;
                            background-size: cover;
                            &.active {
                                background-size: cover;
                            }
                        }
                    }
                }
            }
        }
    }
}

//  Mobile
//  _____________________________________________
@media only screen and (max-width: @screen__m) {
    .coke-megamenu-dropdown {
        display: none;
    }
}
