// Global
//  _____________________________________________
& when (@media-common =true) {
    .cms-home {

        // Hero
        .hero {
            position: relative;
            overflow: hidden;
            h1 {
                color: @color-white;
                font-family: @font-family-bold;
                margin: 0;
            }

            h2 {
                color: @color-white;
                margin: 0;
                margin-bottom: 1rem;
            }

            // CTA
            a.pagebuilder-button-secondary {
                font-size: 1.4rem;
            }
        }
    }
}

//  Desktop
//  _____________________________________________
@media only screen and (min-width: @screen__m) {
    .cms-home {

        // Hero
        .hero {
            h1 {
                font-size: 5rem;
            }

            h2 {
                font-size: 2.5rem;
                line-height: 1.5;
            }
        }
    }
}

/* Phone Landscape */
@media only screen 
  and (min-width: 769px) 
  and (max-width: 990px){
    .cms-home {
        .hero {
           padding: 4rem 1rem!important;
          .pagebuilder-column-group {
            .pagebuilder-column {
              &:first-of-type, &:last-of-type {
                  width: 25% !important;
              }
              &:nth-of-type(2) {
                  width: 50% !important;
                  h1 {
                      font-size: 4rem;
                  }
                  h2 {
                      font-size: 2rem;
                      margin: 2rem auto;
                  }
              }
            }
          }
        }
    }
}

//  Mobile
//  _____________________________________________
@media only screen and (max-width: @screen__m) {
    .cms-home {
        .hero {
            padding: 20px 10px!important;

            .pagebuilder-column-group {
                flex-wrap: nowrap;

                // Columns
                .pagebuilder-column {
                    padding: 2rem !important;

                    &:first-of-type {
                        position: absolute;
                        width: 16rem !important;
                        height: auto !important;
                        left: -1.5rem;
                        z-index: 1;
                    }

                    &:nth-of-type(2) {
                        width: 50% !important;
                        margin: 0 auto !important;
                        z-index: 10;

                        h1 {
                            font-size: 2.75rem;
                            width: 30rem;
                            margin: 0 auto;
                        }

                        h2 {
                            font-size: 1.75rem;
                            width: 25rem;
                            margin: 2rem auto;
                        }

                        // CTA
                        a.pagebuilder-button-secondary {
                            font-size: 1.2rem;
                        }
                    }

                    &:last-of-type {
                        position: absolute;
                        width: 16rem !important;
                        height: auto !important;
                        right: -1.5rem;
                        z-index: 1;
                    }
                }
            }
        }
    }
}


/* Phone Portrait */
@media only screen 
  and (min-device-width: 320px) 
  and (max-device-width: 480px)
  and (-webkit-min-device-pixel-ratio: 2)
  and (orientation: portrait) {
      .cms-home {
          .hero {
            .pagebuilder-column-group {
              .pagebuilder-column {
                &:first-of-type, &:last-of-type {
                    width: 14rem !important;
                }
                &:nth-of-type(2) {
                    width: 50% !important;
                    h1 {
                        width: 25rem;
                        font-size: 2.5rem;
                    }
                    h2 {
                        font-size: 1.6rem;
                        width: 16rem;
                    }
                }
              }
            }
          }
      }
}

/* Phone Landscape */
@media only screen 
  and (min-device-width: 320px) 
  and (max-device-width: 812px)
  and (-webkit-min-device-pixel-ratio: 2)
  and (orientation: landscape) {
    .cms-home {
        .hero {
           padding: 4rem 1rem!important;
          .pagebuilder-column-group {
            .pagebuilder-column {
              &:first-of-type, &:last-of-type {
                  width: 25% !important;
              }
              &:nth-of-type(2) {
                  width: 50% !important;
                  h1 {
                      font-size: 3.5rem;
                  }
                  h2 {
                      font-size: 1.75rem;
                      margin: 2rem auto;
                  }
              }
            }
          }
        }
    }
}
