{{template config_path="design/email/header_template"}}

<p class="greeting">Bonjour,</p>
<br>

<p>
    {{trans "We have received a request to change the following information associated with your account at %store_name: email, password." store_name=$store.getFrontendName()}}<br />
    <br />
    Si vous n’avez pas autorisé cette action, veuillez nous contacter à l’adresse <a href="mailto:cocacolastore@tessi.fr">cocacolastore@tessi.fr</a> ou au numéro : 01 48 10 57 69.<br />
    <br />
    Si vous avez effectué ce changement, merci de ne pas tenir compte de cet e-mail.
</p>
<br>


{{template config_path="design/email/footer_template"}}
