& when (@media-common = true) {
    .price-container{
        .price{
            font-size: 20px;
        }
    }

    .price{
        font-weight: 700;
        color: @coke-green-dark;
    }

    .product-item{
        .price-box {
            .price-label {
                display: none;
            }

            .price {
                font-weight: 300;
            }
        }
    }

    .product-options-bottom,
    .product-info-price {
        .price-box {
            color: @coke-green-dark;
            .price-container {
                .price{
                    font-weight: 300;
                    color: @coke-green-dark;
                }
            }
        }
    }

    .product-info-main {
        .label{
            font-size: 24px;
        }

        .product-info-price{
            border:none;

            .price-box {
                .price-container {
                    .price-label {
                        display: none !important;
                    }
                }
            }
        }

        .field.qty{
            margin-bottom: 30px;
        }
    }

    .product.info.detailed{
        #description{
            .full-view-color-background()
        }
    }

    .product.data.items {
        > .item.title {
            display: none;
        }
    }

    #description{
        background: @coke-yellow;

        h2,
        h3{
            margin-top: 0;
            margin-bottom: 20px;
        }

        p{
            margin-bottom: 30px;
        }

        table{
            margin-bottom: 30px;
            border-color: @coke-green-dark;
            border: none;

            b,
            strong,
            th{
                font-weight: 700;
            }

            tr{
                &:first-child{
                    border-bottom:1px solid @coke-green-dark;
                }
            }

            td,
            th{
                border:none;
                padding: 8px;
                padding-left: 15px;

                &:first-child{
                    border-right: 1px solid @coke-green-dark;

                    &:not(.indented){
                        padding-left: 0;
                    }
                }
            }
        }

        div[class^="col-"]{
            padding: 0 10px;
            text-align: center;
            font-weight: 500;

            .icon{
                display: flex;
                justify-content: center;
                align-items: center;
                margin-bottom: 30px;
            }
        }
    }

}

// desktop
.media-width(@extremum, @break) when (@extremum = 'min') and (@break = @screen__m) {
    .product-options-bottom,
    .product-info-price {
        .price-box {
            .price-container {
                font-size: 18px;
                .price {
                    font-size: 30px;
                    line-height: 30px;
                }
            }
        }
    }

    .product.data.items {
        > .item.content{
            margin-top: 0;
            border: none;
        }
    }

    #description{
        margin-bottom: 160px;
        padding-top: 100px;
        padding-bottom: 100px;

        div[class^="col-"]{
            margin-top: 40px;
            margin-bottom: 40px;
            p{
                font-size: 20px;
                text-transform: uppercase;
            }
        }

        table{
            font-size: 18px;
            max-width: 525px;
        }
    }

}

// mobile
.media-width(@extremum, @break) when (@extremum = 'max') and (@break = @screen__m) {
    #description{
        margin-bottom: 80px;
        padding-top: 50px;
        padding-bottom: 50px;

        div[class^="col-"]{
            margin-top: 20px;
            margin-bottom: 20px;
            p{
                font-size: 20px;
            }
        }

        table{
            font-size: 16px;
        }
    }
}
