<?xml version="1.0" encoding="UTF-8"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <section id="coke_faq" translate="label" type="text" sortOrder="150" showInDefault="1" showInWebsite="1" showInStore="1">
            <label>FAQ</label>
            <tab>Coke</tab>
            <resource>Coke_Faq::config</resource>
            <group id="faq_settings" translate="label" type="text" sortOrder="35" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>FAQ Settings</label>
                
                <field id="active" translate="label" type="select" sortOrder="1" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Enabled FAQ</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>

                <field id="title" translate="label comment" type="text" sortOrder="2" showInDefault="1" showInWebsite="1" showInStore="1" canRestore="1">
                    <label>FAQ page title</label>
                    <comment>Title displayed in FAQ page</comment>
                </field>
                
                <field id="items_per_category" translate="label comment" type="text" sortOrder="3" showInDefault="1" showInWebsite="1" showInStore="1" canRestore="1">
                    <label>FAQ Items per category</label>
                    <comment>Max quantity of items per category displayed in FAQ's main page. Value of 0 is show all.</comment>
                </field>                                                               
            </group>
        </section>
    </system>
</config>
