& when (@media-common = true) {

}

// desktop
.media-width(@extremum, @break) when (@extremum = 'min') and (@break = @screen__m) {
    .login-container .block:nth-child(1), .account .column.main .block:not(.widget) .block-content .box:nth-child(1) {
        float: right;
        clear: right;
    }

    .login-container .block:nth-child(2), .account .column.main .block:not(.widget) .block-content .box:nth-child(2){
        float: left;
    }

    .actions-toolbar{
        text-align: right;

        .primary{
            float: right;

            .action{
                margin: 0 0 0 15px;
            }
        }
    }
}

// desktop l
.media-width(@extremum, @break) when (@extremum = 'min') and (@break = @screen__l) {
    .control-disclaimer {
        .password-strength-disclaimer {
            right: auto;
            left: -350px;
        }
    }
}

// mobile
.media-width(@extremum, @break) when (@extremum = 'max') and (@break = @screen__m) {

}
