<?xml version="1.0" ?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <type name="Aheadworks\Sarp2Stripe\Gateway\Request\TransactionCaptureDataBuilder">
        <plugin name="Coke_Japan::Sarp2TransactionCaptureDataBuilderPlugin"
                type="Coke\Japan\Plugin\Sarp2TransactionCaptureDataBuilderPlugin"/>
    </type>
</config>
