& when (@media-common = true) {
    .account{
        .nav.items{
            list-style: none;
            padding-left: 0;
        }

        .box.box-newsletter{
            display: none;
        }
    }
}

// desktop
.media-width(@extremum, @break) when (@extremum = 'min') and (@break = @screen__m) {

}


// mobile
.media-width(@extremum, @break) when (@extremum = 'max') and (@break = @screen__m) {

}
