@import "_extend/_icons.less";
@import "_extend/_variables.less";
@import "_extend/_helpers.less";
@import "_extend/_grid.less";
@import "_extend/_forms.less";
@import "_extend/_header.less";
@import "_extend/_navigation.less";
@import "_extend/_footer.less";
@import "_extend/_search-suggested.less";
@import "_extend/_search-autocomplete.less";
@import "_extend/_search-results.less";
@import "_extend/_checkout-success.less";
@import "_extend/_datepicker.less";
@import "_extend/_modals.less";
@import "_extend/_wishlist.less";
@import "_extend/_eu-product.less";
@import "_extend-child.less";

* {
    &:not(.product-item-info) {
        box-sizing: border-box;
    }
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

body {
    color: @color-black;
}
