<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <payment>
            <cashondelivery>
                <set_is_in_process>0</set_is_in_process>
            </cashondelivery>
        </payment>
    </default>
</config>
