<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <websites>
        <olnb_turkey>
            <checkout>
                <input_mask>
                    <telephone>validate-turkish-telephone-number</telephone>
                </input_mask>
                <max_length>
                    <street_lines>25</street_lines>
                </max_length>
                <checkout>
                    <hide_city_state_input>1</hide_city_state_input>
                </checkout>
            </checkout>
        </olnb_turkey>
        <jp_marche>
            <checkout>
                <input_mask>
                    <postcode>validate-japan-postcode</postcode>
                </input_mask>
            </checkout>
        </jp_marche>
    </websites>
</config>
