<!--@subject {{trans "Your %store_name order confirmation" store_name=$store.frontend_name}} @-->
<!--@vars {
"var formattedBillingAddress|raw":"Billing Address",
"var order_data.email_customer_note|escape|nl2br":"Email Order Note",
"var order.billing_address.name":"Guest Customer Name",
"var created_at_formatted":"Order Created At (datetime)",
"var order.increment_id":"Order Id",
"layout handle=\"sales_email_order_items\" order=$order":"Order Items Grid",
"var payment_html|raw":"Payment Details",
"var formattedShippingAddress|raw":"Shipping Address",
"var order.shipping_description":"Shipping Description",
"var shipping_msg":"Shipping message",
"var store.frontend_name":"Store Frontend Name",
"var store_phone":"Store Phone",
"var store_email":"Store Email",
"var store_hours":"Store Hours",
"var order_data.is_not_virtual":"Order Type",
"var order":"Order",
"var order_data.delivery_date":"Delivery Date",
"var order_data.pending_approval":"Pending Approval"
"var order_data.contact_form_url":"Contact Form"
} @-->
{{template config_path="design/email/header_template"}}

<table>
    <tr class="email-intro">
        <td>
            <h1 class="title-center">{{trans "Thank you for your order"}}</h1>
            <p class="greeting">{{trans "%name," name=$order.billing_address.name}}</p>
            <p>
                {{trans "This is to confirm that we have successfully received your order."}}

                {{if order_data.pending_approval}}
                    {{trans "The order contains a message we need to approve before sending it to production which could delay the delivery up to 48 hours. We will contact you again when the message has been approved."}}
                {{else}}
                    {{trans "We will process within 1-2 business days and contact you when it is shipped."}}
                {{/if}}
            </p>
            <p>
                {{trans "If you have any questions about your order, its delivery or payment, please use our <a href='%contact_form_url'>contact form</a> to get in touch." contact_form_url=$order_data.contact_form_url |raw}}
                {{trans "Please select \"I have a question\" and \"Product Information\", briefly describe your request in the text field, and include the order number <span class='no-link'>#%increment_id</span>. We're happy to help!" increment_id=$order.increment_id |raw}}
            </p>
            <p>
                {{trans "Best Regards"}},<br/>
                {{trans "%store_name" store_name=$store.frontend_name}}
            </p>
        </td>
    </tr>
    <tr class="email-information">
        <td>
            {{depend order_data.email_customer_note}}
            <table class="message-info">
                <tr>
                    <td>
                        {{var order_data.email_customer_note|escape|nl2br}}
                    </td>
                </tr>
            </table>
            {{/depend}}
            <table class="order-details">
                <tr>
                    <td class="address-details">
                        <h3>{{trans "Billing Info"}}</h3>
                        <p>{{var formattedBillingAddress|raw}}</p>
                    </td>
                    {{depend order_data.is_not_virtual}}
                    <td class="address-details">
                        <h3>{{trans "Shipping Info"}}</h3>
                        <p>{{var formattedShippingAddress|raw}}</p>
                    </td>
                    {{/depend}}
                </tr>
                <tr>
                    <td class="method-info">
                        <h3>{{trans "Payment Method"}}</h3>
                        {{var payment_html|raw}}
                    </td>
                    {{depend order_data.is_not_virtual}}
                    <td class="method-info">
                        <h3>{{trans "Shipping Method"}}</h3>
                        <p>{{var order.shipping_description}}</p>
                        {{if shipping_msg}}
                        <p>{{var shipping_msg}}</p>
                        {{/if}}
                    </td>
                    {{/depend}}
                </tr>
                {{depend order_data.delivery_date}}
                <tr>
                    <td class="method-info">
                        <h3>{{trans "Delivery Date"}}</h3>
                        <p>{{var order_data.delivery_date}}</p>
                    </td>
                </tr>
                {{/depend}}
            </table>
            <p>
                {{trans 'Order reference <span class="no-link">#%increment_id</span>' increment_id=$order.increment_id |raw}}
            </p>
            {{layout handle="sales_email_order_items" order=$order}}
        </td>
    </tr>
</table>

{{template config_path="design/email/footer_template"}}
