.checkout-index-index {
  .opc-progress-bar,
  .opc-estimated-wrapper,
  .authentication-wrapper {
    display: none;
  }

  #site-footer {
    .footer-end-row {
      margin: 0;
      padding: 0;
      border: 0;
    }
  }

  .field-tooltip {
    display: none; // #todo - don't hide
  }
}

.opc {
  padding: 0;
  margin: 0;

  #opc-shipping_method {
    .__spacer();
  }

  fieldset {
    ._form-fieldset-hide();
  }

  .step-title {
    .__type-header(
      @margin: 1.5rem;
      @spacing: 0;
      @weight: @font-weight-400;
      @textTransform: none;
    );
    .__type-font-size(@size-text-xlg)
  }

  #customer-email-fieldset {
    > * {
      grid-column-start: 1;
      grid-column-end: 3;
    }

    .secondary {
      margin-top: -1.25rem;
      font-size: @size-text-sm;
      color: @color-error;
      font-weight: @font-weight-500;
    }
  }

  .actions-toolbar {
    .__flex(@align-items: center; @justify-content: flex-end);
    .__spacer(@borderWidth: 0; @pad: 0; @margin: 3rem);

    > * {
      text-align: right;
    }
  }
}

.opc-sidebar {
  display: none !important
}


.table-checkout-shipping-method {
  .table();
  .__table-to-flex();
  width: 100%;

  .col {
    &.col-method,
    &.col-carrier {
      flex-grow: 2;
    }

    &:first-child { // .col-method duplicate class
      flex: 0 0 5%;
    }
  }

  th:first-child {
    text-indent: -9999999px;
  }

  tbody {
    tr {
      cursor: pointer;
    }
  }
}

.checkout-payment-method {
  .legend {
    display: none;
  }
}

.opc #customer-email-fieldset,
.opc .address {
  ._form-address-grid-layout();
}

#opc-new-shipping-address {
  ._form-fieldset-hide();
}

.new-address-popup {
  margin-top: 2rem;

  .action {
    .action.black();
    .action.xs();
  }
}

fieldset.street {
  ._form-fieldset-hide();
}

.shipping-address-items {
  display: grid;
  gap: @grid-gutter;
  grid-template-columns: repeat(1, minmax(0, 1fr));
  grid-auto-flow: row dense;

  @media (min-width: @bp-xs-min) {
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }

  @media (min-width: @bp-lg-min) {
    grid-template-columns: repeat(3, minmax(0, 1fr));
  }

  .shipping-address-item {
    padding: 2rem;
    border-radius: @border-radius-base;
    color: @color-header;
    border: 2px solid @color-header;
    background: transparent;

    a {
      pointer-events: none;
      color: @color-header;
    }

    &.selected-item,
    &.selected-item {
      border: 2px solid @color-brand-primary;
      background: @color-brand-primary;
      color: #fff;
  
      a {
        color: #fff;
      }
    }

    .action-select-shipping-item {
      .action.black();
      .action.xs();
      margin-top: 1rem;
    }
  }
}
