<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <type name="Magento\Checkout\Block\Checkout\LayoutProcessor">
        <plugin name="Enable_AddressLookup_Checkout_LayoutProcessor_Plugin" type="Enable\AddressLookup\Plugin\LayoutProcessor" sortOrder="999" />
    </type>
</config>
