<?xml version="1.0"?>
<!--
/**
 * Copyright © 2016 Magento. All rights reserved.
 * See COPYING.txt for license details.
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <coke_faq>
            <faq_settings>
                <active>1</active>
                <title>FAQ Section</title>
                <items_per_category>5</items_per_category>
            </faq_settings>
        </coke_faq>
    </default>
</config>
