<?xml version="1.0"?>
<!--
/**
 * @category Bounteous
 * @copyright Copyright (c) 2021 Bounteous LLC
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <type name="Magento\Checkout\Model\Cart">
        <plugin name="Coke_WhitelistBulkOrder::addBulkOrderProductToCart" type="Coke\WhitelistBulkOrder\Plugin\Checkout\Cart"/>
    </type>
</config>
