<!--@subject {{trans "【締切間近／50％OFFクーポン】My Coke Store モニターキャンペーン<2月 21日（月）まで>" store_name=$store_data.name |raw}} @-->
<!--@vars {
"var store_data.name": "Store Name",
"var order.increment_id": "Order Increment Id",
"var order.customer_email": "Customer Email",
"var customer_name": "Customer Name",
"var delivery_date": "Delivery Date"
} @-->

{{template config_path="design/email/header_template"}}

<table>
    <tr class="email-information">
        <td>
            <p>
                ■□■□■□■□■□■□■□■□■□■□■□■□■□■□■□■□■■□<br />
                【50％OFFクーポン】My Coke Store モニターキャンペーン<2月21日（月）まで><br />
                ■□■□■□■□■□■□■□■□■□■□■□■□■□■□■□■□■■□<br />
                <br />
                My Coke Storeモニターキャンペーンにエントリーいただいた皆様へ<br />
                <br />
                こんにちは。My Coke Storeです。<br />
                先日は、モニターキャンペーンのエントリーありがとうございました。<br />
                <br />
                50%OFFクーポン（割引上限額2,000円）の利用期限まで残り2日となりましたのでお知らせをいたします。<br />
                是非このお得な機会に、My Coke Storeをお試しいただき、<br />
                貴重なご意見をお寄せいただけますと幸いです。<br />
                ※既にご利用いただいたお客様にも配信されている可能性がございます。予めご了承ください。<br />
                <br />
                クーポンコード、および使い方、利用条件については、<br />
                下記件名でお送りしているメールに記載がございます。<br />
                <br />
                件名：【50％OFFクーポン】My Coke Store モニターキャンペーン<2月21日（月）まで><br />
                <br />
                <br />
                クーポンメールがお手元に届いていらっしゃらない場合は<br />
                迷惑メールフォルダに入ってしまっている可能性がございますので、<br />
                お手数ですが迷惑メールフォルダもご確認ください。<br />
                <br />
                もし、それでもお手元に届いていないようでしたら、サポートセンターまでお問合せください。<br />
                ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ <br />
                <br />
                みなさまが私たちにとって、初めてのお客様となります。<br />
                楽しい、使いやすいストアを目指すため<br />
                購入後の みなさまのご意見を心よりお待ちしております！<br />
                <br />
                ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ <br />
                <br />
                My Coke Store：<a href="https://mycokestore.cocacola.co.jp/">https://mycokestore.cocacola.co.jp/</a><br />
                お客様サポートセンター：<a href="https://mycokestore.zendesk.com/hc/ja/requests/new">https://mycokestore.zendesk.com/hc/ja/requests/new</a><br />
                <br />
                ・お問合せをいただく際には、「サービス満足に関するアンケート」についてとお知らせいただきますようお願いいたします。<br />
                <br />
                ・このメールはモニターキャンペーンに応募いただいている方にお送りしています。<br />
                <br />
            </p>
        </td>
    </tr>
</table>


{{template config_path="design/email/footer_template"}}
