<!--@subject {{trans "My Coke Store利用規約改定のお知らせ" store_name=$store_data.name |raw}} @-->
<!--@vars {
"var store_data.name": "Store Name",
} @-->

{{template config_path="design/email/header_template"}}

<table>
    <tr class="email-information">
        <td>
            <p>My Coke Store利用ご利用者のみなさま</p>
            <br>
            <p>いつもMy Coke Storeをご利用いただき、誠にありがとうございます。利用規約の改定を行いますので、お知らせします。</p>
            <br>
            <p>■改定日2022年3月3日（木）</p>
            <br>
            <p>■主な改定事項①My Coke Store利用規約 第6条第1項 <a href="https://mycokestore.cocacola.co.jp/terms-conditions">My Coke Store利用規約 </a></p>
            <br>
            <p>■主な変更概要利用者の都合によるキャンセルについて詳細は本規約をご確認ください。（変更後の規約は3月3日午前10時よりご確認いただけます）</p>
            <br>
            <p>引き続きMy Coke Storeをよろしくお願いいたします。</p>
            <br>
        </td>
    </tr>
</table>


{{template config_path="design/email/footer_template"}}
