<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <coke_whitelist_email>
            <order_denied>
                <enabled>0</enabled>
                <identity>sales</identity>
                <copy_method>bcc</copy_method>
                <template>coke_whitelist_email_order_denied_template</template>
                <guest_template>coke_whitelist_email_order_denied_template</guest_template>
            </order_denied>
            <order_under_review>
                <enabled>0</enabled>
                <identity>sales</identity>
                <copy_method>bcc</copy_method>
                <template>coke_whitelist_email_order_under_review_template</template>
                <guest_template>coke_whitelist_email_order_under_review_template</guest_template>
            </order_under_review>
            <order_approved>
                <enabled>0</enabled>
                <identity>sales</identity>
                <copy_method>bcc</copy_method>
                <template>coke_whitelist_email_order_approved_template</template>
                <guest_template>coke_whitelist_email_order_approved_template</guest_template>
            </order_approved>
        </coke_whitelist_email>
    </default>
    <websites>
        <jp_marche>
            <coke_whitelist_email>
                <order_denied>
                    <enabled>1</enabled>
                </order_denied>
                <order_under_review>
                    <enabled>1</enabled>
                </order_under_review>
                <order_approved>
                    <enabled>1</enabled>
                </order_approved>
            </coke_whitelist_email>
        </jp_marche>
    </websites>
</config>
