<!--@subject {{trans "Subscription billing successful"}} @-->
<!--@vars {
"layout handle=\"aw_sarp2_email_order_items\" order_id=$orderId area=\"frontend\"":"Subscription Items Grid",
"var profileId":"System Subscription Profile Id",
"var extendLink":"Extend Subscription Link",
"var secureLink":"Secure Link"
} @-->

{{template config_path="design/email/header_template"}}

<table>
    <tr class="email-intro">
        <td>
            <p class="greeting">{{trans "Hello, %customerName," customerName=$customerName}}</p>
            <p>{{trans "We have processed your subscription payment successfully."}}</p>
            <p>{{trans 'Your subscription ID is #%incrementProfileId.' incrementProfileId=$incrementProfileId}}</p>
        </td>
    </tr>
    <tr class="email-information">
        <td>
            <p>{{trans "Subscription product(s):"}}</p>
            {{layout handle="aw_sarp2_email_order_items" order_id=$orderId area="frontend"}}
            <p>{{trans "The invoice for this payment will be sent in a separate email."}}</p>
        </td>
    </tr>
</table>

{{template config_path="design/email/footer_template"}}
