<!--@subject {{trans "%store_name: Scheduled flight has been cancelled" store_name=$store.frontend_name}} @-->
<!--@vars {
"layout handle=\"aw_sarp2_email_profile_items_without_plan\"profile=$profile area=\"frontend\"":"Subscription Items Grid"
} @-->

{{template config_path="design/email/header_template"}}

<table>
    <tr class="email-intro">
        <td>
            <p class="greeting">{{trans "Hello, %customerName," customerName=$customerName}}</p>
            <p>{{trans "your Subscription #%profileId has been successfully cancelled." profileId=$incrementProfileId}}</p>
        </td>
    </tr>
    <tr class="email-information">
        <td>
            <p>{{trans "Subscription product(s):"}}</p>
            {{layout handle="aw_sarp2_email_profile_items_without_plan" profile=$profile area="frontend"}}
            <p>{{trans "%planName" planName=$planName}}</p>
        </td>
    </tr>
</table>

{{template config_path="design/email/footer_template"}}
