<!--@subject {{trans "%store_name: Subscription #%incrementProfileId created" incrementProfileId=$incrementProfileId}} @-->
<!--@subject {{trans "Your %store_name email has been changed" store_name=$store.frontend_name}} @-->
<!--@vars {
"var profileId":"System Subscription Profile Id",
"var incrementProfileId":"Subscription Profile Id",
"var paymentId":"Payment Id",
"var paymentDetails":"Payment details array",
"var exceptionMessage":"Exception message"
} @-->

{{template config_path="design/email/header_template"}}

<table>
    <tr class="email-information">
        <td>
            <p>{{trans 'Dear %customerName' customerName=$customerName}}</p>
            <p>{{trans 'You have successfully subscribed to:'}}</p>
            <p>{{trans 'Your subscription ID is #%incrementProfileId.' incrementProfileId=$incrementProfileId}}</p>
            <p>{{trans 'If you have questions about your order, please use the <a href="%url">contact form</a>' url="$this.getUrl($store,'contact')" |raw}}{{depend store_phone}} {{trans 'or call us at <a href="tel:%store_phone">%store_phone</a>' store_phone=$store_phone |raw}}{{/depend}}.</p>
        </td>
    </tr>
</table>

{{template config_path="design/email/footer_template"}}
