<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <tab id="logicbroker_retailerapi" translate="label" sortOrder="10">
            <label>Logicbroker</label>
        </tab>

        <section id="logicbroker_retailerapi_api" translate="label" type="text" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
            <label>API Connection</label>
            <tab>logicbroker_retailerapi</tab>
            <resource>Logicbroker_RetailerAPI::api_connection</resource>
            <group id="general" translate="label" type="text" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
              <label>Credentials</label>
                <field id="apiurl" translate="label comment" type="select" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>API Endpoint</label>
                    <source_model>Logicbroker\RetailerAPI\Model\Source\ApiAddress</source_model>
                </field>
                <field id="apikey" translate="label comment" type="password" sortOrder="20" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>API Key</label>
                </field>
            </group>
        </section>
        <section id="logicbroker_retailerapi_options" translate="label" type="text" sortOrder="20" showInDefault="1" showInWebsite="1" showInStore="1">
            <label>Options</label>
            <tab>logicbroker_retailerapi</tab>
            <resource>Logicbroker_RetailerAPI::options</resource>
            <group id="options" translate="label" type="text" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
              <label>Order Post</label>
                <field id="enablebundleitems" translate="label comment" type="select" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Include Bundle Items</label>
                    <comment>Include the top-level bundle item. Items within the bundle are always sent.</comment>
                    <source_model>Logicbroker\RetailerAPI\Model\Source\FalseTruePicker</source_model>
                </field>
            </group>
            <group id="inventory" translate="label" type="text" sortOrder="20" showInDefault="1" showInWebsite="1" showInStore="1">
              <label>Inventory Import</label>
                <field id="reindexafterimport" translate="label comment" type="select" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Re-Index After Import</label>
                    <comment>Re-index product quantity after importing inventory.</comment>
                    <source_model>Logicbroker\RetailerAPI\Model\Source\TrueFalsePicker</source_model>
                </field>
                <field id="clearcacheafterimport" translate="label comment" type="select" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Clear Cache After Import</label>
                    <comment>Clear full page, collection and block HTML caches after importing inventory.</comment>
                    <source_model>Logicbroker\RetailerAPI\Model\Source\TrueFalsePicker</source_model>
                </field>
            </group>
            <group id="shipping" translate="label" type="text" sortOrder="30" showInDefault="1" showInWebsite="1" showInStore="1">
              <label>Shipment Import</label>
                <field id="invoiceafterfirstshipment" translate="label comment" type="select" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Invoice Order After Shipment</label>
                    <comment>Invoice all items on the order once the first shipment is received.</comment>
                    <source_model>Logicbroker\RetailerAPI\Model\Source\FalseTruePicker</source_model>
                </field>
                <field id="custom_invoice_number" translate="label" type="text" sortOrder="3" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Custom Invoice Number Source Field</label>
                    <comment>Logic broker source field to use for Magento Order's custom invoice number field.</comment>
                </field>
            </group>
        </section>
    </system>
</config>
