
.block-account-create,
.form-create-account {
  margin-top: 2.5rem;

  .actions-toolbar {
    display: block;

    > div {
        margin: 0;

        button {
          width: 100%;
        }
    }
  }

  .cds-form {
    .validation-error {
      p {
        margin-top: 0.5rem !important;
        margin-bottom: 0.5rem !important;
      }
    }
  }
}
