.form-address-edit {
  max-width: @form-max-width;

  .fieldset {
    ._form-address-grid-layout();
  }
}

.block-addresses-default {
  .block-content {
    .__flex(
      @direction-mob: column;
      @align-items-mob: flex-start;
      @justify-content-mob: center;
      @spacing: 5rem;
      @spacing-mob: 0;
      @spacing-sm: 3rem;
    );

    @media (max-width: @bp-sm-max) {
      > *:last-child {
        margin-top: @grid-gutter
      }
    }
  }
}
