body.account {
  .columns {
    display: flex;
    flex-direction: column;

    @media (min-width: @bp-sm-min) {
      flex-direction: row-reverse;
    }

    .column {
      flex: 1;
      @media (min-width: @bp-md-min) {
        padding-left: 4rem;
        border-left: 1px solid @color-border;
      }

      @media (min-width: @bp-lg-min) {
        padding-left: 5rem;
      }

      .actions-toolbar,
      .block {
        margin-top: @grid-gutter;
        padding-top: @grid-gutter;
        border-top: 1px solid @color-border;

        @media (min-width: @bp-sm-min) {
          margin-top: 2rem;
          padding-top: 2rem;
        }
      }
    }

    .sidebar-additional {
      display: none;
    }
  }

  .form-address-edit {
    > .fieldset {
      display: block;

        .field {
            margin-bottom: 10px;
        }

        @media (min-width: @bp-sm-min) {
            float: left;
            width: 48%;

            &:nth-child(2) {
                float: right;
                margin-bottom: 20px;
                margin-top: 0;
            }
        }
    }

      .actions-toolbar {
          clear: both;

          @media (min-width: @bp-sm-min) {
              margin-left: 0 !important;

              &::before {
                  clear: both;
                  content: '';
                  display: table;
              }
          }
      }
  }

  .account-nav {
    display: none;

    @media (min-width: @bp-md-min) {
      display: block;
    }
  }

  ul.nav {
    li {
      a,
      strong {
        @media (min-width: @bp-md-min) {
          padding-right: 4rem;
        }

        @media (min-width: @bp-lg-min) {
          padding-right: 5rem;
        }
      }
    }
  }

  .form {
    max-width: @form-max-width;
  }

  .actions-toolbar {
    .back {
      display: none;
    }
  }
}

body.customer-account-forgotpassword,
body.customer-account-create,
body.customer-account-login {
  .page-title-wrapper {
    .page-title-wrapper-center-small()
  }
}

#password-strength-meter-container {
  display: none;
}

.block-customer-form {
  @media (min-width: @bp-sm-min) {
    padding: 0 @grid-gutter;
  }

  p {
    text-align: center;

    &.terms {
      color: @color-text-disabled;
      font-size: @size-text-sm;
      margin-top: 1.5rem;
    }
  }

  #recaptcha {
    margin: 1rem 0;

    > div {
      margin: 0 auto;
    }
  }

  button {
    width: 100%;
  }
}
