
.block-customer-login {
  label {
    ._form-label-hide()
  }

  p {
    &.forgotten-pw {
      margin-top: 2rem;
      font-size: @size-text-sm;

      a {
        ._link-black();
      }
    }

    &.create-account {
      font-size: @size-text-sm;

      a {
        text-transform: uppercase;
        font-weight: 400;
        ._link-black-underlined();
      }
    }
  }

  .actions-toolbar {
    display: block;

    > div {
       margin: 0;
    }
  }

  button {
    width: 100%;
  }
}
