<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <coke_contact>
            <form_options>
                <enable_dob>1</enable_dob>
                <enable_telephone>1</enable_telephone>
                <enable_resolution>1</enable_resolution>
            </form_options>
        </coke_contact>
        <olnb>
            <catalog>
                <hide_qty_input_pdp>0</hide_qty_input_pdp>
                <hide_price_pdp>0</hide_price_pdp>
            </catalog>
            <checkout>
                <hide_city_state_input>0</hide_city_state_input>
            </checkout>
        </olnb>
    </default>
    <websites>
        <olnb_eu>
            <sales>
                <totals_sort>
                    <weee>30</weee>
                    <tax>35</tax>
                    <shipping>40</shipping>
                </totals_sort>
            </sales>
            <tax>
                <weee>
                    <enable>1</enable>
                </weee>
            </tax>
        </olnb_eu>
        <olnb_turkey>
            <olnb>
                <catalog>
                    <hide_qty_input_pdp>1</hide_qty_input_pdp>
                    <hide_price_pdp>1</hide_price_pdp>
                </catalog>
                <checkout>
                    <hide_city_state_input>1</hide_city_state_input>
                </checkout>
            </olnb>
            <payment>
                <free>
                    <title>Ücretsiz bir şekilde hediye olarak gönderilmiştir</title>
                </free>
            </payment>
            <coke_contact>
                <form_options>
                    <enable_resolution>0</enable_resolution>
                </form_options>
            </coke_contact>
        </olnb_turkey>
    </websites>
    <stores>
        <germany_german>
            <coke_contact>
                <form_options>
                    <enable_dob>0</enable_dob>
                    <enable_telephone>0</enable_telephone>
                </form_options>
            </coke_contact>
        </germany_german>
    </stores>
</config>
