<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <type name="Magento\Checkout\CustomerData\AbstractItem">
        <plugin name="sugar_tax_plugin_customer_data" type="CokeEurope\Tax\Plugin\CheckoutQuoteItemSugarTaxPlugin" />
    </type>
    <type name="Magento\Checkout\Model\DefaultConfigProvider">
        <plugin name="sugar-tax-checkout-summary-product" type="CokeEurope\Tax\Plugin\DefaultConfigProviderPlugin" />
    </type>
    <type name="Magento\Checkout\Block\Cart\LayoutProcessor">
        <plugin name="CartStorecreditDisable" type="CokeEurope\Tax\Plugin\ShowSugarTaxProviderPlugin"/>
    </type>
</config>
