<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <checkout>
            <cart>
                <cart_merging_enabled>1</cart_merging_enabled>
            </cart>
        </checkout>
    </default>
    <websites>
        <topo_chico_gr_website>
            <checkout>
                <cart>
                    <cart_merging_enabled>0</cart_merging_enabled>
                </cart>
            </checkout>
        </topo_chico_gr_website>
    </websites>
</config>
