
.account-links {
  a {
    .__link-row();

    svg {
      position: relative;
      top: 2px;
    }
  }

  ul {
    margin-top: 0.75rem;
    margin-bottom: 1.25rem;

    > li {
      > a {
        .__link-row(@padV: 0.5rem; @hoverColor: transparent);

        &.log-out {
          ._link-grey();
        }
      }
    }
  }
}
