.messages {
  > .message {
    margin-bottom: 1rem;

    &:only-child,
    &:last-child {
      margin-bottom: 2rem;
    }
  }
}

.message {
  background: @color-header;
  padding: 1.2rem 1.6rem;
  color: #fff;
  border-radius: @border-radius-base;
  font-weight: @font-weight-400;

  &.success {
    background: @color-success;
  }

  &.error {
    background: @color-error;
  }

  &.warning,
  &.info,
  &.note,
  &.notice {
    background: @color-warning;
    color: fade(@color-black, 75%);
  }

  a {
    ._link-white();
  }

  // inverted style (no background)
  &.invert {
    background: transparent;
    padding: 0;

    &.success {
      color: @color-success;

      a {
        .__link(@color: @color-success; @colorHover: @color-success; @decoration: underline; @decorationHover: none);
      }
    }
  
    &.error {
      color: @color-error;

      a {
        .__link(@color: @color-error; @colorHover: @color-error; @decoration: underline; @decorationHover: none);
      }
    }
  
    &.warning,
    &.info,
    &.note,
    &.notice {
      color: @color-warning;

      a {
        .__link(@color: @color-warning; @colorHover: @color-warning; @decoration: underline; @decorationHover: none);
      }
    }
  }
}

.mage-error {
  color: @color-error;
}
