
.block-title {
  ._header-block-title();
}

.box-title {
  ._header-box-title();
}

.block {
  .block-title + .block-content {
    margin-top: 1rem;
  }
}

.box {
  .box-title + .box-content,
  .box-content + .box-actions {
    margin-top: 0.25rem;
  }

  .box-actions {
    a {
      font-weight: @font-weight-400;
    }
  }

  address {
    font-size: @size-text-sm;
    font-style: normal;

    a {
      pointer-events: none;
      color: inherit
    }
  }
}
