.block-authentication {
  #auth-ces-social-login-form {
    display: none !important;
  }
}

.cds-form {
  &#ces-social-login-form {
    display: none !important;
  }

  .label-visible {
    .__form-label();
  }

  .ces-form-submit {
    .action.secondary();
  }

  .validation-error {
    text-align: left;
    
    p {
      margin-top: 0.5rem;
      margin-bottom: 1.25rem;
      text-align: left;
      font-size: @size-text-sm;
      margin: 0;
      color: @color-error;
    }
  }

  .social-button {
    .button-fb();
    margin-top: 1rem;
  }

  #ces-form-submit-ces-login-form {
    margin-top: 1rem !important;
  }

  .input-container + .input-container {
    margin-top: 1rem;
  }

  .input-container {
    margin-top: 1rem;

    &.row {
      margin: 0;

      > *:not(.validation-error) {
        margin: 1rem 0 0;
      }
    }
  }
}

.block-authentication {
  #auth-ces-social-login-form {
      display: none !important;
  }
}
