#site-drawer {
  @_drawerHorizontalPad: @grid-gutter;

  .overlay {
    background: @overlay-bg;
    position: fixed;
    z-index: 98;
    height: 100vh;
    width: 100vw;
    opacity: 0;
    pointer-events: none;
    visibility: hidden;
    transition: opacity 150ms ease-in 0s, visibility 150ms ease-in 0s;
  }
  
  .drawer {
    position: fixed;
    height: 100vh;
    width: 85%;
    max-width: @bp-xxs-min;
    background: #fff;
    box-shadow: none;
    pointer-events: auto;
    z-index: 99;
    transition: transform 150ms ease-in 0s;
    transform: translateX(-100%);
    display: flex;
    flex-direction: column;
    -webkit-overflow-scrolling: touch;
    overflow: auto;

    > *:nth-child(2) {
      flex-grow: 1;
    }
  }

  header {
    .logo-row {
      display: flex;
      align-items: center;
  
      .logo {
        > a {
          padding: 1.5rem @_drawerHorizontalPad;
        }
      }
      
      .close {
        margin-left: auto;
        font-size: @size-h1;
        line-height: 0;
        cursor: pointer;
        padding: 0 @_drawerHorizontalPad;
        min-width: 52px;
        text-align: center;
        
        &:hover,
        &:focus {
          color: @color-brand-primary;
        }
      } 
    }

    p {
      .__type-p();
      padding: 0 @_drawerHorizontalPad;
      margin-top: -0.5rem !important;
      font-size: @size-text-sm;
    }
  }

  .account-links {
    margin-top: 2rem;
    padding-bottom: 4.6rem;
  }

  .country-selector {
    border-top: 1px solid @color-border-light;
    position: sticky;
    bottom: 0;
    left: 0;
    right: 0;
    background: #fff;

    a {
      .__link-row();

      &.current-store {
        background: #e4e4e4;
      }
    }
  }
}

body._drawer-open {
  height: 100%;
  overflow: hidden;

  #site-drawer {
    .overlay {
      visibility: visible;
      opacity: 1;
      pointer-events: auto;
    }

    .drawer {
      transform: translateX(0);
      box-shadow: rgba(0, 0, 0, 0.5) 0px 2px 6px;
    }
  }
}

