
.label {
  .__form-label();
}

textarea,
select,
input[type='text'],
input[type='email'],
input[type='number'],
input[type='password'],
.input-text {
  .__form-input();
}

// layout
.fieldset {
  padding: 0;
  border: 0;
  margin: 0;
  padding: 0;
  outline: none;

  br {
    display: none;
  }

  .legend {
    padding: 0;
    border: 0;
    display: block;
    margin-bottom: 1.5rem;
    width: 100%;
    ._header-block-default();
  }

  & + .fieldset {
    margin-top: 3rem;
  }

  & + .actions-toolbar {
    margin-top: 3rem;
  }
}

.field {
  &.note {
    .__type-p()
  }

  & + .field {
    margin-top: 1rem;
  }

  &.choice {
    display: flex;
    align-items: center;

    label {
      ._link-black();
      margin: 0;
      padding-left: 0.75rem;
      cursor: pointer;
    }
  }

  .control {
    input + * { // error validation string
      margin-top: 0.5rem;
      margin-bottom: 1.25rem;
    }

    .note {
      font-size: @size-text-sm;
      color: @color-text;
    }

    div.field-error,
    div.mage-error {
      font-size: @size-text-sm;
      color: @color-error;
    }
  }
}

.actions-toolbar {
  @media (min-width: @bp-sm-min) {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    margin-top: 2rem;
  
    > * {
      margin-left: 2rem;
  
      &:first-child {
        margin-left: 0;
      }
    }
  }
}
