
.form-login {
  margin-bottom: 2rem;
  padding-bottom: 2rem;
  border-bottom: 1px solid @color-border;

  .note {
    display: block;
    font-size: @size-text-sm;
    color: @color-text;
    margin-top: 0.5rem;
  }
}
