
.item-options {
  font-size: @size-text-sm;
  margin-top: 1rem;

  .label {
    color: @color-text-disabled;
    margin: 0;

    &::after {
      content: ':  '
    }
  }

  .value {
    color: @color-header;
  }
}

dl.item-options {
  padding: 0;

  dd,
  dt {
    display: inline-block;
    padding: 0;
    margin: 0;
  }

  dt {
    .item-options.label();
  }

  dd {
    .item-options.value();
  }
}
