
.logo {
  .__logo();

  a {
    width: 120px;
    display: inline-block;
  
    @media (min-width: @bp-md-min) {
      width: 140px;
    }
  }

  img,
  svg {
    width: 100%;
    height: auto;
  }
}
