// Fix pagebuilder added styles
div[data-element="main"] {
  > div {
    padding: 0 !important;
    margin: 0 !important;
    display: block !important;
    background: none !important;
    border: 0 !important;
  }
}

.page-main-full-width {
  .__section-pad(
    @top: @section-pad-sm;
    @bottom: @section-pad-sm;
    @smTop: @section-pad-md;
    @smBottom: @section-pad-md;
    @mdTop: @section-pad-lg;
    @mdBottom: @section-pad-lg;
    @lgTop: @section-pad-xlg;
    @lgBottom: @section-pad-xlg;
  );
}
