
.cart.table {
  .__table-to-flex();
  font-weight: @font-weight-400;

  .product-item-photo {
    ._img-full();
  }

  .qty-toggler {
    @media (min-width: @bp-sm-min) {
      margin-top: -1.3rem; // align with text
    }
  }

  .product-item-name {
    display: block;

    a {
      ._link-black();
    }
  }

  .item-actions {
    .gift-options-cart-item {
      display: none;
    }

    a {
      ._link-light-grey-to-black();
      font-size: @size-h4;
      margin-left: 2rem;

      i {
        line-height: 0;
      }
    }
  }

  // cols
  .col {
    &.img {
      width: 90px;
      flex: 0 0 auto;

      @media (min-width: @bp-xs-min) {
        width: 130px;
      }
    }
  
    &.item {
      flex-grow: 2;
    }

    &.qty {
      width: 140px;
      flex: 0 0 auto;
    }

    &.price,
    &.subtotal {
      flex: 0 0 15%;
      text-align: center;
    }
  
    &.item,
    &.price {
      text-align: left;
    }
  
    &.subtotal {
      text-align: right;
      align-self: stretch;
      position: relative;
      display: flex;
      flex-direction: column;

      .item-actions {
        margin-top: auto;
        padding-top: 1rem;
        display: flex;
        justify-content: flex-end;
      }
    }

    // mob layout
    @media (max-width: @bp-sm-max) {
      &.price,
      &.qty,
      &.subtotal {
        display: none;
      }

      &.item {
        padding-right: 0;
        // padding-left: 0;
      }
    }

    .product-mobile-details {
      @media (min-width: @bp-sm-min) {
        display: none;
      }

      .total {
        margin: 0.5rem 0 1.75rem;

        .qty {
          color: @color-text-light;
          font-size: @size-text-sm;
        }
      }

      .foot-row {
        .__flex(@spacing: 1rem);

        > * {
          flex: 0 0 auto;

          &:last-child {
            margin-left: auto;
          }
        }

        .item-actions {
          text-align: right;
          margin-top: 0.5rem;
        }
      }
    }
  }
}
