._section-base {
  margin: 0 auto;
  background-color: #fff;
}

._section-max-width {
  max-width: @site-max-width;
}

[class*='section--'] {
  ._section-base();
}

._section-pad-default {
  .__section-pad(
    @top: @section-pad-sm;
    @bottom: @section-pad-sm;
    @smTop: @section-pad-md;
    @smBottom: @section-pad-md;
    @mdTop: @section-pad-lg;
    @mdBottom: @section-pad-lg;
    @lgTop: @section-pad-xlg;
    @lgBottom: @section-pad-xlg;
  );

  &--x2 {
    .__section-pad(
      @top: @section-pad-sm * 2;
      @bottom: @section-pad-sm * 2;
      @smTop: @section-pad-md * 2;
      @smBottom: @section-pad-md * 2;
      @mdTop: @section-pad-lg * 2;
      @mdBottom: @section-pad-lg * 2;
      @lgTop: @section-pad-xlg * 2;
      @lgBottom: @section-pad-xlg * 2;
    );
  }
}

._section-pad-xxs {
  .__section-pad(
    @top: @section-pad-xxs;
    @bottom: @section-pad-xxs;
  );

  &--x2 {
    .__section-pad(
      @top: @section-pad-xxs * 2;
      @bottom: @section-pad-xxs * 2;
    );
  }
}

._section-pad-xs {
  padding: @section-pad-xs 0;

  &--x2 {
    padding: (@section-pad-xs * 2) 0;
  }
}

._section-pad-sm {
  padding: @section-pad-sm 0;

  @media (min-width: @bp-sm-min) {
    padding: @section-pad-md 0;
  }

  &--x2 {
    padding: (@section-pad-sm * 2) 0;

    @media (min-width: @bp-sm-min) {
      padding: (@section-pad-md * 2) 0;
    }
  }
}

._section-pad-md {
  padding: @section-pad-md 0;

  @media (min-width: @bp-lg-min) {
    padding: @section-pad-lg 0;
  }

  &--x2 {
    padding: (@section-pad-lg * 2) 0;

    @media (min-width: @bp-lg-min) {
      padding: (@section-pad-lg * 2) 0;
    }
  }
}

._section-pad-lg {
  padding: @section-pad-lg 0;

  &--x2 {
    padding: (@section-pad-lg * 2) 0;
  }
}


.section {
  ._section-base();

  &--default {
    ._section-pad-default()
  }

  &--xxs {
    ._section-pad-xxs()
  }

  &--xs {
    ._section-pad-xs()
  }

  &--sm {
    ._section-pad-sm()
  }

  &--md {
    ._section-pad-md()
  }

  &--lg {
    ._section-pad-lg()
  }
}

[class*='section-'] + [class*='section-'] {
  padding-top: 0;
}
