
.toolbar {
  .pager {
    display: flex;
    align-items: center;

    .toolbar-amount {
      margin: 0;
      flex: 1;
    }
  }

  .limiter {
    display: flex;
    align-items: center;

    .limiter-label,
    .limiter-text {
      font-size: @size-text-sm;
      white-space: nowrap;
    }

    .limiter-options {
      margin: 0 0.5rem;
    }
  }
}
