
.totals.table {
  border: 0;
  margin: 0;

  .table-caption {
    display: none;
  }

  th,
  td {
    border: 0;
    padding: 0;
    font-weight: @font-weight-400;
    color: @color-header;
    line-height: 1.6;

    .label,
    .value {
      font-weight: @font-weight-400;
      color: @color-header;
      line-height: 1.6;
      margin: 0;
      padding: 0;
      font-size: @font-size-base;
    }
  }

  tr {
    > * {
      &:first-child {
        text-align: left;
      }

      &:last-child {
        text-align: right;
      }
    }
  }
}
