<?xml version="1.0" ?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <coke_customer>
            <dob>
                <min_age_validation>13</min_age_validation>
                <save_dob>0</save_dob>
            </dob>
        </coke_customer>
    </default>
    <websites>
        <olnb_gb>
            <coke_customer>
                <dob>
                    <min_age_validation>16</min_age_validation>
                </dob>
            </coke_customer>
        </olnb_gb>
        <olnb_ni>
            <coke_customer>
                <dob>
                    <min_age_validation>16</min_age_validation>
                </dob>
            </coke_customer>
        </olnb_ni>
        <olnb_eu>
            <coke_customer>
                <dob>
                    <min_age_validation>16</min_age_validation>
                </dob>
            </coke_customer>
        </olnb_eu>
        <olnb_norway>
            <coke_customer>
                <dob>
                    <min_age_validation>16</min_age_validation>
                </dob>
            </coke_customer>
        </olnb_norway>
        <jp_marche>
            <coke_customer>
                <dob>
                    <toc_link>terms-conditions</toc_link>
                    <save_dob>1</save_dob>
                </dob>
            </coke_customer>
        </jp_marche>
    </websites>
    <stores>
        <finland_finnish>
            <coke_customer>
                <dob>
                    <min_age_validation>13</min_age_validation>
                </dob>
            </coke_customer>
        </finland_finnish>
    </stores>
</config>
