.header {
    .logo {
        img {
            max-height: 120px;
            width: auto;
        }
    }
}

.main-content {
    &.admin-order-inquiry {
        direction: rtl;

        ul {
            list-style: disc;
            text-align: right;

            li {
                &::before {
                    display: none;
                }
            }
        }
    }
}

.footer-banner-row {
    .english {
        display: none !important;
    }

    .arabic {
        display: block !important;
    }
}

