@import '_extend_extend/_rtl.less';
@import '_extend_extend/_navigation.less';
@import '_extend_extend/_forms_extend.less';
@import '_extend_extend/_catalog.less';
@import '_extend_extend/_customer.less';
@import '_extend_extend/_faq.less';
@import '_extend_extend/_checkout.less';
@import '_extend_extend/_footer.less';
@import '_extend_extend/_page.less';

// desktop
.media-width(@extremum, @break) when (@extremum = 'min') and (@break = @screen__m) {
    .page-wrapper {
        .widget.block.block-static-block {
            max-width: 100%;
            padding: 0;
        }
        .top-container {
            max-width: 100%;
            padding: 0;
        }
    }
}

& when (@media-common = true) {

    .cms-index-index {
        .desktop-slider {
            display: none;
        }
    }
}
